<h2>Create comments </h2>

<%= form_for @comment do |f| %>
  <%= f.label "Content" %>
  <%= f.text_field :content %><br>

  <%= f.collection_select :user_id, User.all, :id, :name, {include_blank: 'None'} %><br>

  <%= f.fields_for :user, @comment.build_user do |user_fields| %>
    <%= user_fields.label "New Username" %>
    <%= user_fields.text_field :username %>
  <% end %>
  <br>

  <%= f.submit class: 'btn btn-default' %>
<% end %>
