<div class=comment-content>
  <%= @comment.content %>
</div>
<h3>New Comment and New User</h3>
<%= form_for @comment do |f| %>
  <%= f.label "content" %>
  <%= f.text_field :content %><br>
  <%= f.collection_check_boxes :user_id, User.all, :id, :username %><br>
  <%= f.fields_for :users, @comment.build_user do |users_fields| %>
  <%= users_fields.label "username" %>
  <%= users_fields.text_field :username %><br>
  <% end %>
  <%= f.submit %>
<% end %>
