<h1> New Comment</h1>

<%= form_for @comment do |f| %>
    Content:
    <%= f.text_field :comment_content %>
    <%= f.fields_for :users, post.users.build do |user_fields| %>
    <%= user_fields.text_field :name %>
    <% end %>
    <%= f.submit %>
<% end %>
