<%= form_for @comment do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content id="comment_content"%>
  <%= f.collection_select( :user_id, User.all, :id, :username, {:include_blank => 'username'}) %>
  <%= f.submit %>
<% end %>
<h1>Hey</h1>
