<%= form_for(@post) do |f| %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :content %>
  <%= f.text_area :content %>
</p>

  <% # will genreate a checkbox post[category_ids][] for each category on Category.all
   # it will also use the :id as the value for the checkbox
   # and it will use the :name method as the label for the checkbox
  %>

  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name)%> <br>

  <%= f.fields_for :categories, post.categories.build do |category_builder| %>
    <%= category_builder.text_field :name %>
  <% end %>
  <br>

  <%= f.submit %>
<% end %>
