<h2>Create Post</h2>
<%= form_for @post do |f| %> <!--can create a post without a new category-->
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>

  <!-- <% Category.all.each do |c| %>
    <p>
      <label for="category_id <%= c.id %>"> <%= c.name %></label>
      <input type="checkbox" name="post[category_ids][]" value="<%= c.id %>" id="category_id <%= c.id %>">
    </p>
  <% end %> -->

  <p>
    <%= f.label :categories %>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %> <!--label tag--> <!--can create a post with a previously created category-->
      <%= f.fields_for :categories, post.categories.build do |categories_fields| %>
        <%= categories_fields.text_field :name %>  <!--input tag-->  <!--can create a post with a brand new category-->
      <% end %>
  </p>

  <p><%= f.submit %></p>
<% end %>
