<%= form_for @post do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>


  <% Category.all.each do |category| %>
    <p>
      <label for="category_id_<%= category.id %>"><%= category.name %></label>
      <input type='checkbox' name='post[category_ids][]' value='<%= category.id %>' id='category_id_<%= category.id %>' />
    </p>
  <% end %>
  <p>
    <input type="text_field" name="post[categories_attributes][0][name]" id="post_categories_attributes_0_name">
  </p>
  <%= f.submit %>
<% end %>
