<%=form_for(@post) do |f|%>
<p>
  <%= f.label :tilte%>
  <%= f.text_field :title%>
</p>
<p>
  <%=f.label :content%>
  <%=f.text_area :content%>
</p>
<%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b|%>
<p>
  <%=b.label %>
  <%=b.check_box%>
</p>
<%end%>

<!--
<%Category.all.each do |c|%>
<p>
  <label for="category_id_<%=c.id%>"><%=c.name%></label>
  <input type="checkbox" name="post[category_ids][]" value="<%=c.id%>" id="category_id_<%=c.id%>">
</p>
<%end%>
-->
<br><br>
<%=f.fields_for :categories  do |category_builder|%>
  <%= category_builder.text_field :name%>
<%end%>

<!--<input type="text" id="post_categories_attributes_0_name" name="post[categories_attributes][0][name]" >
<input type="text" id="post_categories_attributes_1_name" name="post[categories_attributes][1][name]" >
-->



<%=f.submit%>
<%end%>
