<%= form_for(@post) do |f| %>
<h1>
  <%= f.label :title %>
  <%= f.text_field :title %>
</h1>

<p>
  <%= f.label :content %>
  <%= f.text_area :content %>
</p>


<p>
  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
  <%= f.fields_for :categories, @post.categories.build do |cat_fields| %>
  Create New Category: <%= cat_fields.text_field :name %>
  <% end %>
</p>
<%= f.submit %>
<% end %>
