
<%= form_for (@post) do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %><br />

	<%= f.label :content %>
	<%= f.text_field :content %><br />




<% f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
	<p>
		<% b.check_box %>
	</p
	<% end %>

<% %>



<% Category.each do |c| %>
	<p> 
	<label for="category_id <%= c.id %>"><%= c.name %></label>
	<input type="checkbox" name="post[category_ids]" value="<%= c.id %>" id="category_id <%= c.id %>">
	</p>

