<div class=post-content>
  <%= @post.content %>
</div>

<%= form_for post do |f| %>

  <fieldset>

    <%= f.label "Title" %>
    <%= f.text_field :title %>

  </fieldset>

  <fieldset>

    <%= f.label "Content" %>
    <%= f.text_area :content %>

  </fieldset>

  <fieldset>

    <b> Choose catagories: </b><br>

    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %><br><br>

    <b> Create new catagory:<b> 
    <%= f.fields_for :categories, post.categories.build do |categories_fields| %>
      </b><%= categories_fields.text_field :name %> 
    <% end %>

  </fieldset>

  <%= f.submit %>
<% end %>
