
  <%#= @post.content %>
  
<%= form_for post do |f| %>

    <%= f.label "Title" %>
    <%= f.text_field :title %>
    <br>
    <%= f.label "Content" %>
    <%= f.text_area :content %>


    <% Category.all.each do |c| %>
    <p>
      <label for="category_id_<%= c.id %>"><%= c.name %></label>
      <input type="checkbox" name="post[category_ids][]" value="<%= c.id %>" id="category_id_<%= c.id %>">
    </p>
    <% end %>
    <br>

    # creating a new categories
      <%= f.fields_for :categories, post.categories.build do |categories_fields| %>
      <%= categories_fields.text_field :name %>
      <% end %>   
   <br>

    <%= f.submit %>

<% end %>
