<style>
  .supercool {
    border: 5px solid salmon
    }
</style>

<%= form_for(@post) do |f| %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_field :content %>
  </p>

  <%= f.collection_check_boxes(:category_ids, Category.all, :name, :name) do |builder| %>
    <p>
      <%= builder.label :class => "supercool" %>
      <%= builder.check_box %>
    </p>
  <% end %>
  


  <!--<%= f.fields_for :categories do |category_builder| %>
    <%= category_builder.text_field :name %>
  <% end %>-->

  <input type="text" id="post_categories_attributes_1_name" name="post[categories_attributes][1][name]"/>
  Category 2
  <input type="text" id="post_categories_attributes_2_name" name="post[categories_attributes][2][name]"/>
  <%= f.submit %>
  
<% end %>