<%= form_for @post do |f| %>
  <h3>Categories:</h3>
  <%= f.fields_for :categories do |cat| %>
    <%= cat.label :name %>
    <%= cat.collection_check_boxes :category_ids, Category.all, :id, :name %>
    <%= cat.text_field :name %>
  <% end %>

<% end %>
