<%= form_for @post do |f| %>
	<p>
	  <%= f.label "Title" %>
	  <%= f.text_field :title %>
	</p> 
	<p>
	  <%= f.label "Content" %>
	  <%= f.text_area :content %>
	</p>
<!-- 
	 <% Category.all.each do |c| %>
		<p>
			<label for="category_id_<%= c.id %>"><%= c.name %></label>
			<input type="checkbox" name="post[category_ids][]" value="<%= c.id %>" id="category_id_<%=c.id%>">
		</p>
	<% end %> 
 -->
	<%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
		<p>
			<%= b.label %>
			<%= b.check_box %>
		</p>
	<% end %>

	<!-- <input type="text" id="post_categories_attributes_0_name" name="post[categories_attributes][0][name]" />
	<input type="text" id="post_categories_attributes_1_name" name="post[categories_attributes][1][name]" />
 -->
	<%= f.fields_for :categories, Category.new do |category_builder|  %>
		<%= category_builder.text_field :name %> 
	<% end %>

	<%= f.submit %>
<% end %>
