<%= form_for(@post) do |f| %>

	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>

	<p> 
		<%= f.label :post %>
		<%= f.text_area :content %>
	</p>

		<%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
	<p>
		<%= b.check_box %><%= b.label %>
	</p>
		<% end %>

		<%= f.fields_for :categories, post.categories.build do |category_builder| %>
		<%= f.label :category %><%= category_builder.text_field :name %>

	<% end %> 

  
  		<%= f.submit "Create Post" %>
	<% end %>
