<h1>Create a Post:</h1>
<%= form_for @post do |f| %>
  <%= f.label "Post Title: " %>
  <%= f.text_field :title %><br><br>
  <%= f.label "Post Content: " %>
  <%= f.text_area :content %><br><br>
  <%= f.label "Category: " %>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %><br><br>
  <%= f.fields_for :categories, @post.categories.build do |categories_fields| %>
    <%= categories_fields.label "Category Name: " %><br><br>
    <%= categories_fields.text_field :name %><br><br>
  <% end %>
  <%= f.submit %>
<% end %>
