<h1>Create your post below</h1>

<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: "title" %><br>

  <%= f.label :content %>
  <%= f.text_area :content, placeholder: "type post here..." %><br>


  <%= f.label "Choose existing category:" %>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %><br>

  <%= f.label "Or create a new ones:" %><br>
  <%= f.fields_for :categories do |category_fields| %>
    <%= category_fields.text_field :name, placeholder: "name" %><br>
  <% end %>

  <%= f.submit %>
<% end %>
