<h2>Create a Post</h2>

<%= form_for post do |f| %>
  <%= f.label "Add Title" %><br>
  <%= f.text_field :title %>

  <br><br>

  <%= f.label "Add Content" %><br>
  <%= f.text_area :content %>

  <br><br>

  <%= f.label "Add Category" %><br>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>

  <%= f.fields_for :categories, @post.categories.build do |category_field| %>
      <%= category_field.text_field :name %>
  <% end %>


  <br><br>

  <%= f.submit %>
<% end %>
