<h1>New Post</h1>
<%= form_for @post do |p| %>
  <%= p.label "Title" %><br>
  <%= p.text_field :title %><br>
  <%= p.label "Content" %><br>
  <%= p.text_area :content %><br>

  <%= p.collection_check_boxes :category_ids, Category.all, :id, :name %><br>

  <%= p.fields_for :categories, post. %>

  <%= p.submit %>
<% end %>
