<h1>Create A New Post</h1>
<%= form_for @post do |post_builder| %>
    <%= post_builder.label :title %>
    <%= post_builder.text_field :title %>

    <%= post_builder.label :content %>
    <%= post_builder.text_area :content %>

    <%= post_builder.label :categories %>
    <%= post_builder.collection_check_boxes :category_ids, Category.all, :id, :name, include_blank: true  %>

    <%= post_builder.fields_for :categories, @post.categories.build do |category_builder| %>
        <%= category_builder.text_field :name %>
    <% end %>
    <%= post_builder.submit %>
<% end %>
