<%= form_for(@post) do |f| %>

	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>

	<p> 
		<%= f.label :post %>
		<%= f.text_area :content %>
	</p>

		<%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
	<p>
		<%= b.check_box %><%= b.label %>
	</p>
		<% end %>

		<%= f.fields_for :categories, post.categories.build do |category_builder| %>
		<%= category_builder.text_field :name %>

	<% end %> 
	<p>
		<%= f.collection_select(:user_ids, User.all, :id, :username, prompt: 'Please select the author of this comment') do |c| %>
	</p>
	<% end %>

		<%= f.fields_for :comments, post.comments.build do |comment_builder| %>
  		<%= comment_builder.text_area :content %>

  		<% end %>
  		
  
  		<%= f.submit %>
	<% end %>
