<%= form_for @post do |f| %>
  <p>
    <%= f.label :title %>
    <%=f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_field :content %>
  </P>


  <% f.collection_check_boxes(:category_id, Category.all, :id, :name) %>
  <%= f.fields_for :categories, post.categories.build do |categories_fields| %>

  <% end %>
  <%= f.submit "Create Post"%>
  <% end %>
