<%= form_for(@post) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title%>
  </p>
  <p>
  <%= f.label :content %>
  <%= f.text_area :content %>
  </p>
  
  Add a category: 
  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
    
  <br>
  Or create a new one: 
  <%= f.fields_for :categories do |cat| %>
    <%= cat.text_field :name %>
  <%end%>
  <br>
  <%= f.submit %>
<%end%>
