<%=form_for @post do |f|%>
  <%=f.label :title%><br>
  <%=f.text_field :title%><br>

  <%=f.label :content%><br>
  <%=f.text_field :content%><br>
  <%Category.all.each do |c| %>
    <label for="category_id_<%=c.id%>"><%=c.name%></label>
    <input type="checkbox" name="post[category_ids]" value="<%=c.id%>" id="category_id_<%=c.id%>">>
  <%end%>

  <%=f.submit%>

<%end%>
