<h1> Create a New Post: </h1>

<%= form_for @post do |f| %>
  <%= f.label "Title" %>
  <%= f.text_field :title %>
  <br><br>
  <%= f.label "Content" %><br>
  <%= f.text_area :content %>
  <br><br>

  <h2>Select and/or Create a Category:</h2>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
  <%= f.fields_for :categories, post.categories.build do |categories| %>
    <%= categories.label "New Category: " %>
    <%= categories.text_field :name %>
  <% end %>
  <br><br>
  <%= f.submit %>
<% end %>
