<%= form_for @post do |f| %>
  <p>
    <%= f.label :title%>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_field :content %><br />
  </p>

  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>  <br />

  <p>
    Create a category:
  </p>
  <%= f.fields_for :categories  do |ff| %>
    <%= ff.label :name %>
    <%= ff.text_field :name %>
  <% end %><br />

  <%= f.submit %>
<% end %>
