<%= form_for @post do |post_builder| %>
  <p><%= post_builder.label "Title" %>
  <%= post_builder.text_field :title %></p>
  <p><%= post_builder.label "Content" %></p>
  <p><%= post_builder.text_area :content %></p>
  <p><%= post_builder.label "Existing Categories" %></p>
  <%= post_builder.collection_check_boxes :category_ids, Category.all, :id, :name %>

  <%= post_builder.fields_for :categories do |category_builder| %>
    <p><%= category_builder.label "Add a category" %></p>
    <%= category_builder.text_field :name %>
  <% end %>
  <p><%= post_builder.submit %></p>
<% end %>