<%=form_for(@post) do |f| %>
  <label>Title: </label>
  <%=f.text_field :title %><br>

  <label>Content: </label>
  <%=f.text_field :content %>

  <%Category.all.each do |c| %>
  <p>
  	<label for "catgory_id_<%=c.id%>"><%=c.name%></label>
  	<input type="checkbox" name="post[category_ids][]" value="<%=c.id%>" id="<%=c.name%>">
  </p>
  <%end%>

  <label>Create new category:</label>
  <input type="text" id="post_categories_attributes_0_name" name="post[categories_attributes][][name]">

  <%=f.submit "Create Post" %>
<%end%>

