<%= render 'form', post: Post.new %>
<h1> Create a new post </h1>
<%= form_for @post do |f|%>
  <%= f.label "Title" %>
  <%= f.text_field :title %><br>
  <%= f.label "Content" %>
  <%= f.text_area :content %><br>
  <%= f.label "Categorize" %>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
    <%= f.fields_for :categories, @post.categories.build do |categories_fields| %>
      <%= categories_fields.text_field :name %>
    <% end %>
  <%= f.submit %>
<% end %>

<!-- the manual way to create a bunch of collection_check_boxes
<% Category.all.each do |c| %>
  <p>
    <label for="category_id_<%= c.id %>"<%= c.name %> </label>
    <input type="checkbox" name="post[category_ids][]" value="<%= c.id %>" id="category_id_<%= c.id %>">
  </p>
<% end %>    -->
