<%= form_for(@post) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>

  Category:
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
      <p><%= b.check_box %>
      <%= b.label %></p>
    <%end%>

    <br>

  New Category:
    <%= f.fields_for :categories, Category.new do |category_builder| %>
      <%= category_builder.text_field :name %>
    <%end%>

  <p><%= f.submit %></p>

  <%end%>
