<h1>Create a new Post</h1>

<%= form_for @post do |f| %>
  <%= f.label :title, "Title:" %>
  <%= f.text_field :title %><br>
  <%= f.label :content, "Content:" %>
  <%= f.text_field :content %><br>
  <%= f.label :category_ids, "Select a category:" %>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %><br>
  <%= f.label :categories_attributes, "Create a category:" %>
  <%= f.fields_for :categories, @post.categories.build do |categories_field| %>
    <%= categories_field.text_field :name %><br>
  <% end %>
  <%= f.submit %>
<% end %>
