<h1>Create a Post</h1>

<%= form_for @post  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />
<!--  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
  <br /> -->
<!--  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
        <p><%= b.label %><%= b.check_box %></p>  -- can add styling with class => "whatever"
  <% end %> -->
  <!-- for checkboxes on different lines -->
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
        <p><%= b.label %><%= b.check_box %></p>
      <% end %>
  <!-- Equivalent html code here <% Category.all.each do |c| %>
    <p>
      <label for="category_id_<%= c.id %>"><%= c.name %></label>
      <input type="checkbox" name="post[category_ids][]" value="<%=c.id%>" id="category_id_<%=c.id%>">
    </p>
  <% end %> -->
  New Category:
  <!-- field_for knows this is nested form because post defined categories_attributes= -->
  <%= f.fields_for :categories, Category.new do | category_builder | %>
    <%= category_builder.text_field :name %>
  <% end %>
  <!-- <input type="text" id="post_categories_attributes_0_name" name="post[categories_attributes][0][name]" > -->
  <br/>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <br />
  <%= f.submit %>
<% end %>
