


<%= form_for (@post) do |f| %>
	<p>
	<%= f.label :title %>
	<%= f.text_field :title %><br />
	</p>
	<p>
	<%= f.label :content %>
	<%= f.text_field :content %><br />
	</p>


<% Category.all.each do |c| %>
	<p> 
	<label for="category_id <%= c.id %>"><%= c.name %></label>
	<input type="checkbox" name="post[category_ids][]" value="<%= c.id %>" id="category_id <%= c.id %>">
	</p>
	<% end %>

	<input type="test"  id="post_categories_attributes_0_name" name="post[categories_attributes][0][name]" />

	<input type="test"  id="post_categories_attributes_0_name" name="post[categories_attributes][1][name]" />
   <%= f.submit %>
<% end %>