<%=@post.title%>
<%=@post.content%>

<%@post.categories.each do |category|%>
<%=category.name%>
<%end%>


<%@post.comments.each do |comment|%>
<p><%= comment.user.username %> says: <%= comment.content%></p>
<%= link_to(comment.user.username, user_path(comment.user))%>
<%=comment.content%>
<%end%>

<%= form_for Comment.new do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>

  <%= f.label :comment_content %>
  <%= f.text_field :content%>

  <%= f.collection_select :user_id, User.all, :id, :username %>



  <%= f.fields_for :user, @post.users.build do |user_fields| %>
    <%= user_fields.text_field :username %>
  <% end %>


  <%= f.submit %>
<%end%>
