 <h1><%=@post.title%></h1>

  <p><%=@post.content%></p>

 <%@post.comments.each do |x|%>
 <p><%=x.user.username%> says: <%=x.content%></p>
  <%end%>
 Users who have commented:

 <% @post.users.uniq.each do |x|%>
    <%=link_to x.username, user_path(x)%>
 <%end%>

<% @post.categories.each do |x| %>
<p><%=x.name%></p>
<% end %>
    <%= form_for @post.comments.build do |f| %>
            <%= f.text_field :content %>
            <%= f.hidden_field :post_id %>
            <%= f.collection_select :user_id, User.all, :id, :username %>
            <%= f.fields_for :user, @post.users.build do |user_fields| %>
                <%= user_fields.text_field :username %>
            <% end %>
        <%=f.submit "Create Comment"%>
    <%end%>
