<h1>Post Show Page </h1>
<h3><%= @post.title %></h3></br>


<% @post.category_ids.each do |category_id| %>
  <%= Category.find(category_id).name%></br>
<% end %>
  <p>
    <%= @post.content %>
  </p>
<ul>
  <% Comment.all.each do |comment| %>
  <li><%= comment.content %></li>
  <% end %>  
</ul>


<%= form_for Comment.new do |f| %>
<%= f.collection_select :user_id, User.all, :id, :username %></br>
<%= f.hidden_field :post_id, value: @post.id %>
  <%= f.label :comment%>:
  <%= f.text_field :content%>
  <%= f.submit %>
<% end %>
