<h1><%=@post.title%></h1>
<h3><%=@post.content%></h3>
<ul>
<%@post.comments.each do |comment|%>
<li><%=comment.username%> says: <%=comment.content%></li>
<%end%>
</ul>

<ul>
<%=@post.users.uniq.each do |user|%>
<li><%=link_to user.username, user_path(user)%></li>
<%end%>
</ul>
<ul><%=@post.categories.each do |category|%>
<li><%=category.name%></li>
<%end%></ul>

<h1>Make a comment</h1>
<%=form_for @comment do |f|%>
<%=f.text_field :content%>
<%=f.hidden_field :post_id, value:@post.id%>
<%=f.collection_select(:user_id, User.all, :id, :username, include_blank: 'Any')%>
<!--options = {:include_blank}-->
<h4>Or create a new user:</h4>
<%= f.fields_for :user, @comment.build_user do |users_fields| %>
  <%= users_fields.text_field :username %>
<% end %>
<%=f.submit%>
<%end%>
