<h2><%= @post.title %></h2>

<p>
  Content: <%= @post.content %>
</p>

<ul>
  <% @post.categories.each do |category| %>
  <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
</ul>

<h3>Comments:</h3>

<ul>
  <li>
  <% @post.users.uniq.each do |user| %>
    <%= link_to user.username, user_path(user) %> says:
    <% user.comments.each do |comment| %>
      <%= comment.content %>
    <% end %>
  <% end %>
  </li>
</ul>

<h4>Add a comment:</h4>
<%= form_for @comment do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.submit "Create Comment"%>

  <label>Select a User:</label>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: 'new user' %>
  <label>Or create a new user:</label>
  <%= f.fields_for :user, User.new do |user_fields| %>
    <%= user_fields.label :username %>
    <%= user_fields.text_field :username %>
  <% end %>
<% end %>
