
<h1>Post TTTTTTT: <%= @post.title%></h1>
<p>Post Content:<%= @post.content%></p>
Categories: <br />
<ul>
 <% @post.categories.each do |c| %>
 <li><%= c.name %></li>
 <%end%>
<%# way to write the code here to ensure test passing byebug
%>
<% @post.comments.each do |comment| %>
<%= comment.user.username%> says: <%=comment.content%><br>
<% end %>

<%#creates a comment with an existing user%>
<%=form_for @comment do |f|%>
<%#build is Alias for: new%>
<%=f.hidden_field :post_id, value: @post.id%>
<%#use line above to pass data to controller>
<%=f.label :content%>
<%=f.text_field :content%>
<%=f.collection_select(:user_id, User.all, :id, :username)%>
<%# raise params.inspect %>
<%=f.submit%>
<% end %>
<%#creates a comment with an existing user%>
