<fieldset>

<h1><%= @post.title %> </h1>

</fieldset>

<fieldset>

<p><%= @post.content %> </p>
<h3>Categories:</h3>
<ul><% @post.categories.each do |c| %>
  <%= link_to c.name, category_path(c) %>
<% end %>
</ul>
</fieldset>

<fieldset>
<h3>Comments:</h3>
  <% @comments.each do |comment| %>
    <%= comment.user %>
    <%= comment.content %><br>
  <% end %>
</fieldset>


<fieldset>
<div class=comment-content>
  
</div>
<%= form_for @comment do |f| %>
  <%= f.label "Comment:" %>
  <%= f.text_area :content %>
</fieldset>

<fieldset>

  <b> Choose a user </b>

  <%= f.collection_check_boxes :user_id, User.all, :id, :username %> <br>

  <b> Create new user:</b>
   <label>Username:</label>
   <input type="text" name="comment[user_attributes][username]">

   <label>Email:</label>
   <input type="text" name="comment[user_attributes][email]">
   <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">
  <%= f.submit %>
</fieldset>
<% end %>
