<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<h3>Comments</h3>
    <% @post.comments.each do |comment| %>
    <% if comment.user_id %>
      <%= comment.user.username + " says: " + comment.content %>
    <% end %>  
    <% end %>
  </ul>

<h3>Commenting Users</h3>
  <ul>
    <% @post.users.distinct.each do |user| %>
    <li><%= link_to(user.username, user_path(user)) %></li>
    <% end %>
  </ul>

<h3>Categories</h3>
<ul>
<% @post.categories.each do |cat| %>
  <li><%= cat.name %></li>
<% end %>
</ul>

<h3>New Comment</h3>
  <%= form_for @comment do |f| %>
    <%= f.hidden_field :post_id, :value => @comment.post_id %>
    <%= f.label :user %><br>
    <%= f.collection_select :user_id, User.all, :id, :username, {include_blank: 'New User'} %><br>
    <%= f.fields_for :user  do |user| %>
      <%= user.text_field :username %>
    <% end %><br>
    <%= f.label :content %><br>
    <%= f.text_area :content %><br>
    <%= f.submit %>
  <% end %>


