<h2>Post title: <%= @post.title %></h2>
<br>
<br>
<h3>Content: <%= @post.content %></h3>
<br>
<br>
<ul><h3>Category</h3><% @post.category_ids.map do |id| %>
<% category = Category.find_by(id: id) %>
<li><%= category.name %></li>
<% end %></ul>
<br>
<br>
<h3>Comments: </h3><%@post.comments.each do |comment|%>
  <%= comment.user.username %> says: <%=comment.content%>
<%end%>

<%@post.users.uniq.each do |user|%>
  <h3><%=link_to user.username, user_path(user)%> count: <%= user.comments.count %></h3>
<%end%>


<h3>Add a comment</h3>
<%= form_for @post.comments.build do |f| %>
<%= f.label "Comment" %>
<%= f.text_area :content %>

  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: 'Choose a User' %><br><br>
    <%= f.label "Or enter username" %>

    <%= f.hidden_field :post_id %>

    <%= f.fields_for :user, @post.comments.last.build_user do |users_fields| %>
      <%= users_fields.text_field :username %>
    <% end %>
  <br><br>
<%= f.submit value="Create Comment"%>
<% end %>
