<h1><%= @post.title %></h1>

<h3><%= @post.content %></h3>

<p>
  <% @post.categories.each do |category| %>
    <%= category.name %>
  <% end %>
</p>

<h2>Create a new comment:</h2>
<%= form_for(@comment) do |f| %>
  <%= f.hidden_field :post_id %>
  <%= f.text_area :content %>

  <br></br>

  <%= f.collection_select :user_id, User.all, :id, :username, {:id => "comment_user_id"} %>

  <br></br>

  <%= f.fields_for :users, @post.users.build do |users_fields| %>
    <%= users_fields.text_field :username %>
  <% end %>

  <br></br>

  <%= f.submit 'Create Comment' %>
<% end %>

<h4>Previous Comments:</h4>
<%= div_for(@post.comments) do |comment| %>
  <p>RealBigFish says: <%= comment.content %></p>
<% end %>
