<h2><%= @post.title %></h2>
<p>
  Content: <%= @post.content %>
</p>
Comments:
  <% @post.comments.each do |comment| %>
    <%= link_to comment.user.username, user_path(comment.user) %> said
    <%= comment.content %>
  <% end %>
Categories:
<% @post.categories.each do |category| %>
  <%= category.name %>
<% end %>

<%= render 'form', comment: Comment.new %>
