<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

<label>categories</label>
<ul>
  <% @post.categories.each do |c| %>
    <li> <%= c.name %> </li>
  <% end %>
</ul>

<label>comments</label>
<ul>
  <% @post.comments.each do |comment| %>
    <li> <%= comment.user.username %> says: <%= comment.content %> </li>
  <% end %>
</ul>

<label>users</label>
<ul>
  <% @post.users.uniq.each do |u| %>
    <li> <%= link_to u.username, user_path(u) %> </li>
  <% end %>
</ul>

<%= form_for @post.comments.build do |f| %>
  <label>choose from existing users</label>
  <%= f.collection_select :user_id, User.all, :id, :username %>
  <%= f.hidden_field :post_id, value: @post.id %><br>

  <%= f.label :content %>
  <%= f.text_area :content %><br>

  <%= f.label :user %>
  <%= f.fields_for :user, @post.comments.last.build_user do |u| %>
    <%= u.text_field :username %>
  <% end %>

  <%= f.submit %>
<% end  %>
