<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<% @post.comments.each do |comment| %>
  <p><%= "#{comment.user.username} says: #{comment.content}" %></p>
<% end %>
<%= form_for @post.comments.build do |f| %>
    <%= f.hidden_field :post_id %>
    <%= f.text_area :content %>
    <%= f.collection_select :user_id, User.all, :id, :username %>
    <%= fields_for :user do |uf| %>
      <%= uf.text_field :username %>

    <% end %>
  <%= f.submit 'Create Comment' %>
<% end %>
