<h1><%= @post.title %></h1><br>
<h3><%= @post.content %></h3><br>

<% @post.comments.each do |c| %>
  <%= c.content %>
<% end %>

<% @post.categories.each do |cat| %>
  <%= cat.name %>
<% end %>

<% @post.unique_user_for_comments.each do |user| %>
  <%= link_to user.username, user_path(user) %>
  count: <%= user.comments.size %>
<% end %>

<%= form_for @comment do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>

  <%= f.collection_select :user_id, User.all, :id, :username %>

  <%= f.submit %>
<% end %>
