<h1>Your Post</h1>

<%= @post.title %><br>
<%= @post.content %><br>
<% @post.categories.each do |c| %>
    <%= c.name  %>
<% end %><br><br>

<h4><% @post.comments.each do |c| %>
<%= c.user.username %> says: <%= c.content %></h4><br>

    <% end %><br><br>


<h3>Make a comment</h3>

<%= form_for @comment do |f| %>
    <%= f.text_area :content %><br><br>
    <label>Choose your username ... </label><br><br>
    <%= f.collection_select :user_id, User.all, :id, :username %><br><br><br>
    <%# <% binding.pry %>
    <%# <%= f.submit "Choose User" %>

 
    <%# This worked very well with the PostController#show code but not .build in the above line%>
    <%= f.label "Or Make a New User" %><br>
    <%#need a nested form%>
    <%= f.fields_for :user, @user do |comment_user|%>
        <%= comment_user.text_field :username %>
    <% end %>
    <%= f.hidden_field :post_id %>
    <%# <% binding.pry %> %>
    <%= f.submit "Create Comment"%><br><br>  
<% end %>






