<%=@post.title%>
<%=@post.content%>
<ul>
<%@post.categories.each do |c|%>
<li><%= c.name%></li>
<ul>
<%end%>


<h3>Comments</h3>
<% @post.comments.each do |comment| %>
  <p><%= comment.user.username %> says: <%= comment.content %></p>
  <hr>
<% end %>

<h3>Commenters</h3>
<% @post.users.uniq.each do |user| %>
<%= link_to user.username, user_path(user) %></p>
<% end %>


<h3>New Comment</h3>
<%= form_for Comment.new do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.text_area :content %> <br>
  <%= f.label :user %> <br>
  <%= f.collection_select :user_id, User.all, :id, :username%>

<h4> Create User</h4>
  <%= f.fields_for :user, User.new do |user_fields| %>
    <%= user_fields.text_field :username %>
  <% end %> <br>


<%= f.submit value="Create Comment" %>
<% end %>