<h1><%= @post.title %></h1>
<div>
  <%= @post.content %>
</div>
Categories:
<ul>
  <% @post.categories.each do |category| %>
    <li>
      <%= link_to category.name, category_path(category) %>
    </li>
  <% end %>
</ul>
Commentors:
<ul>
  <% @post.users.uniq.each do |user| %>
    <%= link_to user.username, user_path(user) %>
  <% end %>
</ul>
Comments:
<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <%= comment.user.username %> says: <%= comment.content %>
    </li>
  <% end %>
</ul>
<%= form_for @post.comments.build do |f| %>
  User:
  <%= f.collection_select :user_id, User.all, :id, :username, {include_blank: 'Select a user'} %>
  <br>
  Or create new user:
  <br>
  <%= f.fields_for :user, f.object.build_user do |user_attribute| %>
    Username: <%= user_attribute.text_field :username %><br>
    Email: <%= user_attribute.text_field :email %><br>
  <% end %>

  <br>
  Content:<%= f.text_field :content %>
  <%= f.hidden_field :post_id %>
  <%= f.submit %>
<% end %>
