<%= @post.title %>
<%= @post.content %>

<h3>Categories</h3>

<% @post.categories.each do |cat| %>
  <%= cat.name %>
<% end %>

<h2>Comments</h2>

<% @post.comments.each do |comment| %>
  <%= "#{comment.user.username} says: #{comment.content}" if comment.user %>
<% end %>

<h2>New Comment</h2>

<%= form_for @post.comments.build do |c| %>
  <%= c.text_field :content %>

  <%= c.collection_select :user_id, User.all, :id, :username, include_blank: true %>

  <%= c.fields_for :user, @post.comments.last.build_user() do |u| %>
    <%= u.text_field :username %>
  <% end  %>

  <%= c.hidden_field :post_id %>
  <%= c.submit 'Create Comment' %>

<% end %>

<% if @post.users %>
  <% @post.uniq_users.each do |user| %>
    <%= link_to user.username, user_path(user) %>
  <% end %>
<% end %>
