
<h1> <%= @post.title %></h1>

<p> <%= @post.content %></p>

Categories: <br />
<ul>
  <% @post.categories.each do |c| %>
  <li>
    <%= c.name %>
  </li>
  <%end%>
</ul>

<p>

<% if !@post.comments.empty? %>
Existing Comments:<br>
  <% @post.comments.each do |comment| %>
  <% comment_user = User.find_by(id: comment.user_id) %>
    <%= comment_user.username %> says: <%= link_to comment.content, comments_path(comment) %><br>
    <%= link_to comment_user.username, user_path(comment_user) %><br>
  <% end %>
</p>
<% end %>

<p>
  <strong>Add a comment: </strong>
  <%= form_for @post.comments.build do |f| %>
    <%= f.text_area :content %><br>

  <%= f.fields_for :user, @post.users.build do |user_fields| %>
    <%= f.label "new user" %><br>
    <%= user_fields.text_field :username %><br>

    <%= f.label "existing user" %><br>
    <%= f.collection_select :user_id, User.all, :id, :username, include_blank: true  %>
  <br>
    <%= f.hidden_field :post_id, :value => @post.id  %>

  <% end %>

  <%= f.submit %>
<% end %>
