<h1><%= @post.title%></h1>
<p><%= @post.content %></p>
<p>Categories:</p>
<ul>
  <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>

<% if @post.comments.any? %>
  <h3>Listing Comments</h3>
  <ul>
    <% @post.comments.each do |comment| %>
      <li><%= comment.user.username %> says: <%= comment.content %></li>
    <% end %>
  </ul>
  <p>The following users commented on this post:</p>
  <ul>
    <% @post.users.uniq.each do |commentor| %>
      <li><%= link_to commentor.username, user_path(commentor) %></li>
    <% end %>
  </ul>
<% else %>
  <p> No comments yet for this post</p>
<% end %>

<h3>Create a new comment:</h3>
<%= form_for @post.comments.build do |f| %>
  <%= f.label "Comment" %><br><br>
  <%= f.text_area :content %><br><br>
  <%= f.label "User Name" %><br><br>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: "Please Choose a User Name" %><br><br>
  <%= f.hidden_field :post_id %>
  <%= f.label "Create A User Name" %><br><br>
  <%= f.fields_for :user, @post.comments.last.build_user do |u| %>
    <%= u.text_field :username %><br>
  <% end %><br>
  <%= f.submit %>
<% end %>
