<h1>Your Post</h1>

<%= @post.title %><br>
<%= @post.content %><br>
<% @post.comments.each do |c| %>
<%= current_username = c.users.username %>
    <% if c.users.uniq.include?(current_username) %>
        <%= current_username %>
    <% end %>
<%= c.content %>
<% end %>
<br>

<%= form_for @comment do |f| %>
<%= f.collection_select :user, User.all, :id, :username %>
New User: 
<%= f.fields_for :user, @comment.user.build do |users_fields| %>
<%= f.label :username %>
<%= f.users_fields.text_field :username %>
<%= f.label :email %>
<%= f.users_fields.text_field :email %>
<%= f.label "New Comment" %>
<%= f.text_area :content %>
<% end %>
<% end %>


