<h1>Title: <%= @post.title %> </h1>
Content: <%= @post.content %>
      <% @post.categories.each do |category| %>
Category: <%= category.name %>
<% end %>

<% @post.comments.each do |comment|%>
    <%= comment.user.username %> says: <%= comment.content %>
<% end %><br><hr>

<% @post.users.uniq.each do |user| %>
  <% @user = user %>
  <%= link_to @user.username, user_path(@user) %>
  <% end %><br><hr>

<%= form_for @post.comments.build do |f| %>
  <h5><%= "Create a new comment:" %></h5>
  <%= f.label :content %>
  <%= f.text_area :content %><br><br>
  <%= f.collection_select :user_id, User.all, :id, :username, {include_blank: 'Select a User'}%>
  <h5><%= f.label "select or create a comment's user:" %></h5>
  <%= f.fields_for :user, @post.comments.last.build_user do |user_fields| %>
    <%= user_fields.text_field :username %>
    <%= f.hidden_field :post_id %>
  <% end %>
  <%= f.submit 'Create Comment'%>
<% end %>
