<%= @post.title %>
<%= @post.content %>
<%= @post.categories.each do |category| %>
<%= category.name %>
<% end %>
<h4>Comments</h4>
<%= @post.comments.each do |comment| %>
	<p><%= comment.user.username %> says: <%= comment.content %></p>
<% end %>
<%= @post.users.uniq.each do |user| %>
	<%= link_to user.username, user %>
<% end %>

<%= form_for @post.comments.build do |f| %>
  <%= f.hidden_field :post_id %>
  <%= f.label "Comment" %>
  <%= f.text_area :content %>
  <%= f.label "User" %>
  <%= f.collection_select :user_id, User.all, :id, :username, :include_blank => true %> or create a new username: <%= f.fields_for :user, @post.comments.last.build_user do |user| %>
  <%= user.label :username %>
   <%= user.text_field :username %>
 <% end %>
  <%= f.submit %>
<% end %>




