
<h1>  <%= @post.title %> </h1>

 <%= @post.categories.each do |category | %> 
  <%= category.name %>
 <% end %>
<h3 > <%= @post.content %> </h3>


<ul>
<%= @post.users.uniq.each do |user| %>
  <%= link_to user.username, user_path(user) %>
<% end %>

</ul>




<ul>

  <%= @post.comments.each do |comment| %>
    
    <%= comment.user.username %> said
    <%= comment.content %>

  <% end  %>


</ul>



<%= form_for @post.comments.build do |f| %>
  <p>  <%= f.label "content" %>
    <%= f.text_area :content %></p>
  <p>  <%= f.collection_select :user_id, User.all, :id, :username %></p>
  <%= f.hidden_field :post_id %>
  <p><%= f.fields_for :user, @post.comments.last.build_user do |user_field| %>
    <%= user_field.text_field :username %></p>
    <% end %>
  <%= f.submit %>
<% end %>