<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

<h4>Categories: </h4>
<ul>
  <% @post.categories.each do |cat| %>
    <li><%= cat.name %></li>
  <% end %>
</ul>

<h4>Comments:</h4>
<ul>
  <% @post.unique_users.each do |user| %>
    <li><%= link_to user.username, user_path(user) %>
      <%  user.comments.each do |comment| %>
        says: <%= comment.content %></li>
        <% end %>
  <% end %>
</ul>
<h4>Add a Comment: </h4>
<%= form_for @post.comments.build do |f| %>
  <%= f.text_area :comment_content, {id: 'comment_content'} %><br>
  <%= f.label "Choose a User" %>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: true %><br>
  <%= f.label "Or Create a New User" %>
  <%= f.fields_for :user, @post.users.build do |user_attributes| %>
    <%= user_attributes.text_field :username %><br>
  <% end %>
  <%= f.hidden_field :post_id, :value => @post.id %>
  <%= f.submit %>
<% end %>
