<h1><%= @post.title %> </h1>
<p><%= @post.content %></p>

<h3>Categories: </h3> <br>
<ul>
  <% @post.categories.each do |category| %>
  <li><%= link_to category.name, category %></li><br>
  <%end%>
</ul>

<h3>Comments: </h3> <br>
<ul>
  <% @post.comments.each do |comment| %>
  <%= link_to comment.user.username%> <%=comment.content %><br>
  <%end%>
  </ul>

  <h3>User Comments:</h3> <br>
  <ul>
    <% @post.users.uniq.each do |user| %>
    <%= link_to user.username, user %><br>
    <%end%>
    </ul>
