<h2> <%= @post.title %> </h2>

<!-- POST CATEGORIES -->

Categories:
<ul>
<% @post.categories.each do |category| %>
  <li><%= category.name %>
<% end %>
</ul>

<hr>

<p>Content: <%= @post.content %>

<!-- EXISTING COMMENTS -->

<hr>
<h4>Comments:</h4>
  <% @post.comments.each do |comment| %>
    <p> <%= link_to comment.user.username, user_path(comment.user_id) %> says: <%= comment.content %>
  <% end %>
<hr>

<!-- CREATE AND ADD A NEW COMMENT -->
<!-- CHOOSE EXISTING USERNAME -->

<%= form_for @comment do |f| %>
  <%= f.label :comment %><br>
  <%= f.text_area :content %><br><br>
  <%= f.label :username %><br>
  <%= f.collection_select :user_id, User.all, :id, :username %><br>

  <!-- CREATE NEW USER/USERNAME -->

  <%= f.fields_for :user, User.new do |user_username| %>
    <%= user_username.label :username %>
    <%= user_username.text_field :username %>
  <% end %>
  <br>
  <%= f.submit %>
<% end %>
