<h1><%= @post.title %></h1>
<% @post.categories.each do |c| %>
  c.name <br/>
<% end %>
<p><%= @post.content %></p>
<h2><%= pluralize(@post.comments_count, 'Comment') %></h2>
<% @post.comments.each do |c| %>
  <%= c.content %><br/>
<% end %>
<h2><%= pluralize(@post.unique_users_count, 'User') %> Commented</h2>
<% @post.unique_users.each do |u| %>
  <%= u.username %><br/>
<% end %>
<h2>New Comment?</h2>
<%= form_for @post do |f| %>
  <%= f.fields_for :comments do |f| %>
<!--    <%= f.collection_select :user_id, User.all, :id, :username %> -->
    <select name="user_id" id="user_id">
      <% @users.each do |u| %>
        <option value=<%=u.id%><%=u.username%></option>
      <% end %>
    </select>
    <%= f.text_field :content %>
  <% end %>
  <%= f.submit %>
<% end %>
