<h2> <%= @post.title %> </h2><br>
<p> <%= @post.content %> </p><br>
<ul><% @post.categories.each do |c| %>
  <li> <%= c.name %> </li><br>
  <% end %>
</ul><br>

<%= form_for @comment do |f| %>
<%= f.hidden_field :post_id, :value => @post.id %>

  <p>
    <%= f.label "Comment" %>
    <%= f.text_area :content %>
    <%= f.label "Username of commenter" %>
    <%= f.collection_select( :user_id, User.all, :id,
                          :username, prompt: true) %>

    <%= f.submit %>
    <% end %>
  </p>


<ul><% @post.comments.each do |co| %>
<% @user = User.find_by_id(co.user_id) %>
  <li> <%= @user.username %> says: <%= co.content %> </li><br>
  <% end %>
</ul><br>

<ul><% @post.users.uniq.each do |u| %>
  <li> <a href="/users/<%= u.id %>"> <%= u.username %></a> </li><br>
  <% end %>
</ul><br>
