<h1> <%= @post.title %> </h1>
<p><%= @post.content %></p>
<% @post.categories.each do |category| %>
<p>  <%= category.name %></p>
<% end %>
<br><br>
<% @post.comments.each do |comment| %>
  <ol> <%= comment.user.username %> says: <%= comment.content %> </ol>
  <% end %>
<% @post.comments.map(&:user).uniq.each { |user| %>
  <p> <%= link_to user.username, user_path(user) %> </p>
<% } %>

<br><br>

<%= form_for @comment do |f| %>
  <%= f.text_field :content %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.collection_select :user_id, User.all, :id, :username, {:include_blank => 'Please Select'} %>
  <%= f.fields_for :user, @comment.user do |users_field| %>
  <br><br>
    <%= users_field.label "Create a new User" %>
    <%= users_field.text_field :username %>
  <% end %>
  <%= f.submit %>
<% end %>
