<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

Categories:<br>
<ul>
  <%= @post.categories.each do |c| %>
  <li><%= c.name %></li><br>
  <% end %>
</ul>

Comments:<br>
<ul>
  <% if @post.comments.count > 0 %>
    <%= @post.comments.each do |c| %>
      <li><%= c.content %></li><br>
    <% end %>
  <% end %>
</ul>

Comments Users:<br>
  <%= @post.users.distinct.each do |u| %>
    <li><%= link_to u.username, user_path(u) %></li><br>
  <% end %>
</ul>

<<%= form_for(@comment) do |f| %>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>

  <%= f.submit %>

<% end %>
