<h1><%= @post.title %></h1>
<p>Content: <%= @post.content %></p>
<p>Category:
  <ul>
  <%@post.categories.each do |cat| %>
    <li><%=cat.name%>
  <% end %>
  </ul>
</p>

Comments: <br>
  <ul>
    <% @post.comments.each do |comment| %>
    <li><%=comment.user.username%> says: <%= comment.content %>
    <% end %>
  </ul>

  <%= form_for @post.comments.build do |f| %>
    <%= f.label  :content %>
    <%= f.text_field :content %>
    <%= f.hidden_field :post_id, :value => @post.id %>


Users:

    <%= f.collection_select(:user_id, User.all, :id, :username)%>

<%= f.fields_for :user, User.new do |user_fields| %>

    <%= user_fields.label :username %>
    <%= user_fields.text_field :username %>
  <% end %>


<%= f.submit %>
<% end %>

 <br>
<ul>
  <% @post.users.uniq.each do |user| %>
  <li><%= link_to user.username, user_path(user) %>
  <% end %>
</ul>
