<%= @post.title %><br>
<% @post.categories.each do |category| %><br>
<%= category.name %><br>
<% end %>
<%= @post.content %>

<% if @post.comments.count > 0 %>
<% @post.comments.each do |comment| %>
<% if comment.content != nil %>
<p><%= comment.user.username %> says: <%= comment.content %></p>
<% end %>
<% end %>
<% end %>


<% @users = [] %>
<% @post.comments.each do |comment| %>
<% if comment.content != nil %>
<% @users << comment.user %>
<% end %>
<% end %>
<% @users = @users.uniq %>

<% @users.each do |user| %>
<%= link_to user.username, user_path(user) %>
<% end %>

<% form_for @comment do |f| %>

<% f.hidden_field :post_id, value: @post.id %>

<%= f.label :content %>
<%= f.text_field :content %><br>

  <%= f.label :user_id %>
  <%= f.collection_select :user_id, User.all, :id, :username, :include_blank => 'None' %><br>

  <% f.fields_for :user, @user do |user| %>
    <%= user.label :username %>
    <%= user.text_field :username %><br>
  <% end %>

  <%= f.submit %>
<% end %>
