Post Title:
<%= @post.title %>
<br>
Post Content:
<%= @post.content %>
<br>
Post Category Name:
<% @post.categories.each do |category| %>
  <%=   category.name %>
<% end %>
Post Comments:
<% @post.comments.each do |comment| %>
  <p><%= comment.try(:user).try(:username) %> says: <%= comment.content %></p>
<% end %>
<br>

Create a New Comment:
<%= form_for @post.comments.build do |f| %>
  <p> Comment Content:
    <%= f.text_field :content %>
  </p>
  <p> Comment by:
    <%= f.collection_select :user_id, User.all, :id, :username, options = {include_blank: true} %>
  </p>
  <p>
    <% binding.pry %>
    <%= f.text_field :user_attributes.username %>
    <%= f.hidden_field :post_id %>
  <%= f.submit %>
<% end %>



Post Comment Users:
<% @post.users.uniq.each do |user| %>
  <%= link_to user.username, user_path(user) %>
<% end %>
