 <h1><%=@post.title%></h1>

  <p><%=@post.content%></p>

Comments
  <%@comments.each do |x|%>
    <p><%=x.user.username%> says: <%=x.content%></p>
  <%end%>

  <%=form_for @comment do |c|%>
       <%=c.label  :content%>
       <%=c.text_area :content%>
       <%=c.collection_select :user_id,  User.all, :id, :username %>
       <%=c.hidden_field :post_id%>
       <%=c.submit "Create Comment"%>
   <%end%>

    <!--<%=form_for @comment do |f|%>
        <%=f.label :content%>
        <%=f.text_field :content%>
        <%= f.collection_select :user_id,  User.all, :id, :username %>
        <%= f.submit %>
    <%end%>-->
