  <h1><%= @post.title %></h1>
  <p> <%= @post.content %> </p>


  <% if @post.comments %>
   <% @post.comments.each do |comment| %>
      <p> <%= comment.user.username %> says:<%= comment.content %> </p>
   <% end %>
  <% end %>

   <label> Comment Section:</label><br />

    <% @post.comments.each do |comment| %>
      <section> <%= comment.user.username %> says: <%= comment.content %></section>
    <% end %>

  <%= form_for @comment do |f| %>
      <p> <%= f.text_field :content %> </p>
      <%= f.hidden_field :post_id, :value => @post.id %>

      <%= f.collection_select :user_id, User.all, :id, :username, include_blank: "Select a User" %><br />
    <label> or you can create your own User and make a comment</label>
    <%= f.fields_for :user_attributes, @comment.build_user do |users_fields| %>
       <%= users_fields.text_field :username %>
    <% end %>
    <%= f.submit %>
  <% end %>


  <label>Post Categories:</label><br />
   <ul>
    <% @post.categories.each do |category| %>
      <li> <%= category.name %> </li>
    <% end %>
  </ul>
