<h1><%= @post.title %></h1>
<h2><%= @post.content %></h2>
<h3>Comments:</h3>
<% @post.comments.each do |comment| %>
  <p><%= comment.content %></p>
<% end %>

<h3>Unique Users:</h3>

<% @post.users.uniq.each do |user| %>
  <p><%= link_to user.username, user_path(user)%></p>
<% end %>

<%= form_for @comment do |f|  %>
  <%= f.text_area :content  %>
<% end %>
