
<h1><%= @post.title%> </h1>

<p><%= @post.content%> </p>

<% @post.categories.each do |category| %>
	<h5><%= category.name %></h5>
<% end %>

<h5>Add Comment: </h5>
<%= form_for(@comment) do |f| %>
	
	<%= f.text_area :content %> 
	<%= f.hidden_field :post_id %>
	<br>
	<br>

	Select User: <%= f.collection_select :user_id, User.all, :id, :username %>

	<br>
	<br>
	Or add User: <br> <br>
	<%= f.fields_for :user do |user| %>

		Username: <%= user.text_field :username %> <br>
		Email: <%= user.text_field :email %>
	<% end %>

	<br>
	<br>
	<%= f.submit %>
<% end %>



	<br>
	<br>

<% @post.users.uniq.each do |user| %>

	<%= link_to user.username, user_path(user) %> says: <%= user.comments.first.content%>
	


<% end %>