<h1><%= @post.title %></h1>
<% @post.categories.each do |c| %>
  <%= c.name %><br/>
<% end %>
<p><%= @post.content %></p>
<h2><%= pluralize(@post.comments_count, 'Comment') %></h2>
<% @post.comments.each do |c| %>
  <%= c.content %><br/>
<% end %>
<h2><%= pluralize(@post.unique_users_count, 'User') %> Commented</h2>
<% @post.unique_users.each do |u| %>
  <%= u.username %><br/>
<% end %>
<h2>New Comment?</h2>
<%= form_for @post do |f| %>
  <%= f.fields_for :comments, @post.comments.build do |comments_fields| %>
    <%= f.collection_select :users, User.all, :id, :username %>
<!--    <%=  comments_fields.text_field :user_id %>    user id not getting stored in the new comment but content is stored ok -->
    <%= comments_fields.text_field :content %>
  <% end %>
  <%= f.submit %>
<% end %>
