<h1><%=@post.title%></h1>

<p><%=@post.content%></p>

<p>Categories:</p>
<ul>
  <%@post.categories.each do |category|%>
    <li><%=category.name%></li>
  <%end%>
</ul>

<h2>Comments:</h2>

<ul>
  <%@post.comments.each do |comment|%>
    <li><%=comment.user.username%> says: <%=comment.content%></li>
  <%end%>
</ul>

<p>Users who have commented on this post:</p>
  <ul>
    <%@post.users.uniq.each do |user|%>
      <li><%= link_to user.username, user_path(user)%></li>
    <%end%>
  </ul>

<<%= render 'new_comment', comment: Comment.new %>
