
<h1><%= @post.title%></h1>
<p><%= @post.content%></p>
Categories: <br />
<ul>
 <% @post.categories.each do |c| %>
 <li><%= c.name %></li>
 <%end%>
<%# way to write the code here to ensure test passing byebug 
%>
<% @post.comments.each do |comment| %>
<%= comment.user.username%> says: <%=comment.content%>
<% end %>