<h1> <%= @post.title %> </h1>

<h3> Categories: </h3>
  <ul>
    <% @post.categories.each do |cat| %>
      <li>
        <%= cat.name %>
      </li>
    <% end %>
  </ul>


<p> <%= @post.content %> </p>

<br />

<p> Comments: </p>

<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <%= comment.user.username %> says: <%=comment.content%>
    </li>
  <% end %>
</ul>

<br />

<p> Users who have commented: </p>
<ul>
  <% all_users = [] %>
  <% @post.comments.each do |comment| %>
    <% unless all_users.include?(comment.user) %>
      <li>
        <%= link_to comment.user.username, user_path(comment.user) %>
      </li>
        <% all_users << comment.user %>
    <% end %>
  <% end %>
</ul>

<h3>Add A Comment</h3>
<%= form_for @post.comments.build do |f| %>
    <%= f.hidden_field :post_id %>
    <%= f.label :content%>
    <%= f.text_field :content %>
<br />
    <%= f.collection_select :user_id, User.all, :id, :username, include_blank: "Select User" %>

    <%= f.fields_for :user, @post.comments.last.build_user do |user| %>
        <%= user.text_field :username %>
        <% end %>
  <%= f.submit "Create Comment" %>
<% end %>
