<p><%= @post.title %></p>
<p><%= @post.content %></p>
<% @post.categories.each do |category| %>
  <%= category.name %>
<% end %>

<% @post.comments.each do |comment| %>
  <%= "#{comment.user.username} says: #{comment.content}" %><br>
<% end %>

<p>Users who have commented on this post:</p>
<ul>
  <% @post.users.uniq.each do |user| %>
    <%= link_to user.username, user_path(user) %>
  <% end %>
</ul>


<%= form_for @post.comments.build do |f| %>
  <p><%= f.label "content" %><br>
  <%= f.text_area :content %></p>


<br><%= f.collection_select :user_id, User.all, :id, :username, include_blank: true %>


<br>Create new username:
      <%= f.fields_for :user, @post.comments.last.build_user do |user| %>
        <%= user.text_field :username %>
      <% end %>

  <%= f.hidden_field :post_id %>

  <%= f.submit %>
<% end %>
