<h1><%= @post.title %></h1>
<h2><%= @post.content %> </h2>
<ul>
<% @post.categories.each do |cat| %>
  <li><%= cat.name %></li>
<% end %>
</ul>

<% @post.comments.each do |comment| %>
<p>
  <%= comment.user.username %> says:
  <%= comment.content %>
</p>
<% end %>

<ul>
<% @post.users_commented.uniq.each do |user| %>
  <li><%= link_to user.username, user %></li>
<% end %>
</ul>

<%= form_for @post.comments.build do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <br>
  <%= f.label :post_id %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <br>
  <%= f.label :user_id %>
  <%= f.collection_select :user_id, User.all, :id, :username %>
  <br>

  <%= f.fields_for :user do |user_attributes| %>
    <%= f.label :username %>
    <%= user_attributes.text_field :username %>
    <br>
    <%= f.label :email %>
    <%= user_attributes.text_field :email %>

  <% end %>

  <br>
  <%= f.submit %>
<% end %>
