<!--DISPLAYING COMMENTS ON OUR POSTS-->
<h1><%=@post.title%></h1>

Categories:
<ul>
<% @post.categories.each do |category| %>
  <li>
    <%= link_to category.name, category_path(category) %>
  </li>
<% end %>
</ul>

<p><%=@post.content%></p>

<h5>Add a Comment</h5>
<%= form_for Comment.new do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <p>Select a User:</p>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: "New User" %>
  <p>Or create a new user:</p>
  <%= f.fields_for :user_attributes do |user_fields| %>
    <%= user_fields.text_field :username %>
  <% end %>
  <p>Comment:</p>
  <p><%= f.text_area :content %></p>
  <p><%= f.submit %></p>
<% end %>

<%= pluralize(@post.comment_count, "comment") %> by
  <ul class="comma-list">
    <% @post.commented_users.each do |user| %>
      <li><%= link_to user.username, user_path(user) %></li>
    <% end %>
  </ul>



<ul class="comments">
  <% @post.comments.each do |comment| %>
    <li>
      <%= link_to comment.user_name%> says: <%= comment.content %>
    </li>
  <% end %>
</ul>
