<h1><%=@post.title%></h1>

<p><%=@post.content%></p>

Categories: <br />
<ul>
  <%@post.categories.each do |c|%>
  <li><%=c.name%></li>
  <%end%>
</ul>

Comments: <br />
<ul>

  <%@post.comments.each do |c|%>
   <li><%=c.content%> User:<%=c.user_id%>
   </li>
  <%end%>

</ul>




Users: <br />
<ul>
  <%@post.users.uniq.each do |u|%>
  <li>
  <%=link_to u.username, user_path(u)%> </li>
  <%end%>
</ul>



<%=form_for(@comment) do |f|%>
  <br><br>
    <%=f.label :content%>
    <%=f.text_area :content%>

    <input type="integer" id="post_id" name="comment[post_id]" value="<%=@post.id%>" />


    <%User.all.each do |c|%>
    <p>
      <label for="user_id"><%=c.username%></label>
      <input type="checkbox" name="comment[user_id]" value="<%=c.id%>" id="user_id">
    </p>
    <%end%>


    <%= f.collection_check_boxes(:user_id, User.all, :id, :username) do |b|%>
    <p>
      <%=b.label %>
      <%=b.check_box%>
    </p>
    <%end%>



    <%=f.fields_for :user  do |user_builder|%>
      <%= user_builder.text_field :username%>
    <%end%>

 <%=f.submit%>
 <%end%>
