<h1><%= @post.title %></h1>
<h2><%= @post.content %></h2>

<% @post.categories.each do |category| %>
  <h3><%= category.name %></h3>
<% end %>

<% @post.comments.each do |comment| %>
  <% if comment.user %>
    <h4><%= comment.user.username %> says: <%= comment.content %></h4>
  <% end %>
<% end %>

<% @post.users.uniq.each do |user| %>
  <%= link_to user.username, user_path(user) %>
<% end %>

<%= render 'comment' %>
