Post Title:
<%= @post.title %>
<br>
Post Content:
<%= @post.content %>
<br>
Post Category Name:
<% @post.categories.each do |category| %>
  <%=   category.name %>
<% end %>
<br>
Post Comments:
<% @post.comments.each do |comment| %>
  <%= comment.content %>
<% end %>
<br>

Create a New Comment:
<%= form_for @post.comments.build do |f| %>
  <p> Comment Content:
    <%= f.text_field :content %>
  </p>
  <p> Comment by:
    <%= f.collection_select :user_id, User.all, :id, :username %>
  </p>
  <%= f.submit %>
<% end %>


<p> <%= @post.comments.last.user.username %> says: great post!" <p>

Post Comment Users:
<% @post.users.uniq.each do |user| %>
  <%= link_to user.username, user_path(user) %>
<% end %>
