<div class=post-content>
  <%= @post.title %>
  <%= @post.content %>
  <% @post.categories.each do |category| %>
    <%= category.name %>
  <% end %>
</div>

<div class="comments">
    <% @post.comments.each do |comment| %>
      <%=comment.user.username %> says: <%= comment.content %> 
    <% end %>
</div>

<div class="users">
  <% @commenters.each do |commenter| %>
    <%= link_to commenter.username, user_path(commenter) %>
  <% end %>
</div>

  <%= form_for @post.comments.build do |f| %>
    <%= f.hidden_field :post_id %>

    <%= f.text_field :content %>

    <%= f.collection_select :user_id, User.all, :id, :username, {include_blank: "New"} %>

    <%= f.fields_for :user_attributes, User.new do |user| %>
      <%= user.label :username, 'New Username' %>
      <%= user.text_field :username %>
    <% end %>
    <%= f.submit 'Create Comment' %>
  <% end %>
