<h1>Title: <%= @post.title %></h1>
<p>Content: <%= @post.content %></p>
<p>Categories: <ul>
	<% @post.categories.each do |c| %>
		<li><%= c.name %>
	<% end %>
	</ul>

	<% @post.comments.each do |comment| %>
		<li><%= comment.user.username %> says: <%= comment.content %>
	 <% end %>
	 
	 <%= @post.users.uniq.each do |user|  %>
	   <%= link_to user.username, user_path(user)%>
	 <% end %>

</ul>
<%= form_for @comment do |f| %>
  <%= f.label :user %>
  <%= f.collection_select :user_id, User.all.uniq, :id, :username, include_blank: true %><br>

  <% f.fields_for :user, User.new do |user_attributes| %>
  	<%= user_attributes.label :username %>
  	<%= user_attributes.text_field :username %>
  <% end %>

  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.submit %>
<% end %>