<h1><%= @post.title %></h1>
<h3><%= @post.content %></h3>
<h4>Post Categories:</h4>
<ul>
  <% @post.categories.each do |cat| %>
    <li><%= cat.name %></li>
  <% end %>
</ul>
<br>
<h5>Comments:</h5>
<% @post.comments.each do |c| %>
  <p><%= c.user.username %> says: <%= c.content %></p>
<% end %>
<h5>Users who have commented on this post:</h5>
<ul>
  <% @post.users.uniq.each do |u| %>
    <li><%= link_to u.username, u %></li>
  <% end %>
</ul>

<h5>Add a new Comment:</h5>
<%= form_for @comment do |f| %>
  <%= hidden_field_tag "comment[post_id]", @post.id %>
  <%= f.text_area :content %><br>
  <p>Select the User who is commenting:</p>
  <%= f.collection_select :user_id, User.all, :id, :username %><br>
  <p>And/or add a new user who is commenting:</p>
  <%= f.fields_for :user, @comment.create_user do |u| %>
    <%= u.label :username %>
    <%= u.text_field :username %><br>
  <% end %><br>
  <br>
  <%= f.submit %>
<% end %>
