<h1><%= @post.title %></h1>
<h2>Categories:</h2>
<ul>
  <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>
<%= @post.content %>

<h2>Comments:</h2>
<ul>
  <% @post.comments.each do |comment| %>
  <li> <%=comment.user.username%> says: <%=comment.content%></li>
  <% end %>
</ul>

<h2>Users who have Commented:</h2>
<ul>
  <% @post.users.uniq.each do |user| %>
  <li><%= link_to user.username, user_path(user) %></li>
  <% end %>
</ul>

<%= form_for @post.comments.new do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.text_field :content %>
  <%= f.collection_select :user_id, User.all, :id, :username, {include_blank: 'None'} %>
  <%= f.fields_for :user, @post.users.build do |user_fields| %>
    <%= user_fields.text_field :username %>
  <% end %>
  <%= f.submit(value="Create Comment") %>
  <% end %>
