
<h1><%= @post.title %></h1>
<h2><%= @post.content %></h2>


<% @post.comments.each do |comment| %>
  <%= comment.content %>
<% end %>

<% array_user = [] %>
<% @post.comments.each do |comment| %>
<% array_user << comment.user %>
<% end %>

<% array_user.uniq.each do |user| %>
  <%= user.username %>
  <%= link_to user.username, user_path(user) %>
<% end %>
