<h1><%= @post.title %></h1>

<p>
  <%= @post.content %>
</p>

<h3>Categories:</h3>
<ul>
  <% @post.categories.each do |category| %>
    <li>
      <%= category.name %>
    </li>
  <% end %>
</ul>

<h3>Comments:</h3>
<ol>
  <% @post.comments.each do |comment| %>
    <li>
      <%= comment.user.username %> says: <%= comment.content %>
    </li>
  <% end %>
</ol>

<h3>New Comment:</h3>

<%= form_for @comment do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.label :content %>
  <%= f.text_area :content %><br />
  Select username:
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: true %><br />
  Create new username
  <%= f.fields_for :user, @comment.build_user do |u| %>
    <%= u.text_field :username %><br />
  <% end %>
  <%= f.submit %>
<% end %>

<h3>Users who have commented on this post:</h3>
<ul>
  <% @post.users.uniq.each do |user| %>
    <li>
      <%= link_to user.username, user_path(user) %>
    </li>
  <% end %>
</ul>
