<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

Categories: <br>
<ul>
  <% @post.categories.each do |c| %>
  <li><%= c.name %></li>
  <% end %>
</ul>

Comments: <br>


<ul>
  <% @post.comments.each do |comment| %>
  <li> <%= comment.content %>
     <%= link_to comment.user.username, user_path(comment.user) %>
   </li>

  <% end %>
</ul>
