<h1><%= @post.title %></h1>

<p>
  <%= @post.content %>
</p>

<h3>Categories:</h3>
<ul>
  <% @post.categories.each do |category| %>
    <li>
      <%= category.name %>
    </li>
  <% end %>
</ul>

<h3>Comments:</h3>
<ol>
  <% @post.users.each do |user| %>
    <li>
      <%= link_to user.username, user_path(user) %> said: <br />
      <% user.comments.each do |comment| %>
        <%= comment.content %>
      <% end %>
    </li>
  <% end %>
</ol>

<h3>New Comment:</h3>

<%= form_for @comment do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %><br />
  <%= f.collection_select :user_id, User.all, :id, :username %>
  <%= f.fields_for :user, @comment.build_user do |u| %>
    <%= u.label :username %>
    <%= u.text_field :username %><br />
  <% end %>
  <%= f.submit %>
<% end %>
