<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

Categories:<br/>
<ul>
	<% @post.categories.each do |c| %>
	<li><%= c.name %></li>

	<%end%>
</ul>

Comments: <br />
	<% @post.comments.each do |m| %>
		<%= m.content %>
		<%= m.user.username %>
	<% end %>

	<p> 
	</p>

Users: <br />
	<% @post.users.uniq.each do |u| %>
	 <%= link_to u.username, user_path(u) %> 
	<% end %>

 <!--it 'should display all of the comments for that post' do
      visit post_path(@post)
      expect(page).to have_content(@comment1.content)
    end

    it 'should display a list of unique users who have commented on the post' do |variable|
      @comment2 = Comment.create(content: "And another thing, how come there aren't any vegetabls at the movie theater...", user: @user, post: @post)
      visit post_path(@post)
      expect(page).to have_link(@user.username, href: user_path(@user), count: 1)
    end
  end -->
  

<!--form to create comment & user if needed -->
	
<!--Create a posts#show page to display the following:
	[x] The title and content of the post.
	[x] All of the comments associated with the post.
	[x] A list of all the unique users who have commented on the post. 
		[x] A user's name should only show up once in this section, even if they've commented multiple times.
		[] A form to add a new comment. The form should have a 
			[x] drop-down menu to select a user (we'll change this in future lessons to automatically associate the comment with a logged-in user). 
			[] be able to create a new user here and automatically associate it with the post.

	 