<h1>Title: <%= @post.title %></h1>
<p>Content: <%= @post.content %></p>
<p>Categories: <ul>
	<%= @post.categories.each do |c| %>
		<li><%= c.name %>
	<% end %>
	</ul>
<ul>
	<%= @post.comments.uniq.each do |com| %>
		<li> <% link_to com.user.username, user_path(com.user) %></li>
	<% end %>
</ul>

</ul>
<h3>Add a Comment</h3>
<%= form_for @post.comments.build do |f| %>

 <%= f.label :content, "Comment:" %>
 <%= f.text_field :content %>
 <%= f.hidden_field :post_id %>
 <br>
 <%= f.collection_select :user_id, User.all, :id, :username, include_blank: 'Who Are You?' %>
 or <%= f.label :user, "Add Yourself" %>
 <%= f.fields_for :user, @post.comments.last.build_user do |user| %>
   <%= user.text_field :username %>
  <% end %>

 <%= f.submit %>
<% end %>