<h1> <%= @post.title %> </h1>
<h3> <%= @post.content %> </h3>

<h3>Post Categories</h3>
<ul>
  <% @post.categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
</ul>

<h3>Post Comments</h3>
<ul>
  <% @post.comments.each do |comment| %>
    <li><%= comment.content %> -- <%= comment.user.username %></li>
  <% end %>
</ul>

<h3>Users Who Have Commented</h3>
<ul>
  <% @post.users.uniq.each do |uniq_user| %>
    <li><%= link_to uniq_user.username, user_path(uniq_user) %></li>
  <% end %>
</ul>
