<h2><%=@post.title%></h2>
<%=@post.content%>
<ul>
<%@post.categories.each do |category|%>
<li><%=category.name%></li>
<%end%>
</ul>
<ul>
  <%@post.comments.each do |comment|%>
    <li><%=comment.user.username%>says <%=comment.content%></li>
    <%end%>
</ul>
<ul>
  <p>Commentator<br>
  <%@post.users.uniq.each do |user|%>
  <li><%=link_to user.username, user_path(user)%></li>
  <%end%>
  </p>
</ul>
<h3>Add new comment for post</h3>
<%=form_for @post.comments.build do |comment|%>
<%=comment.hidden_field :post_id%>
<%=comment.collection_select :user_id, User.all, :id, :username%>
<%=comment.fields_for :user,@comment.build_user do |user_fields|%>
<%= user_fields.text_field :username %>
 <% end %> <br>
 <%= comment.label :content %>
<%= comment.text_area :content %>
<%= comment.submit %>
 <% end %> <br>
