

<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

<h4>Categories:</h4>
<ul>
	<% @post.categories.each do |category| %>
	<li><%= category.name %></li>
	<% end %>
</ul>

<h4>Comments:</h4>
<ul>
  <%  @post.comments.each do |comment| %>
  <li>
  	<%= comment.user.username %> says: <%= comment.content %>
  </li>
  <% end %>
</ul>



<h4>Leave a comment:</h4>
<%= form_for @post.comments.build do |f| %>

	User: <%= f.collection_select :user_id, User.all, :id, :username, include_blank: "Please pick user" %>
	<%= f.fields_for :user, @post.comments.last.build_user do |user| %>
	Or create new user: <%= user.text_field :username %>
	<p>
	<%= f.text_area :content %>
	</p>
	<% end %>
	<%= f.hidden_field :post_id %>
	<%= f.submit %>
<% end %>

<h4>Users who have commented:</h4>
  <% @post.users.uniq.each do |user| %>
  	<%= link_to user.username, user_path(user) %>
  <% end %>









