<h1><%= @post.title %></h1>

<div>
<h3>Categories</h3>
  <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</div>

<div>
	<h3>Content</h3>
	<p><%= @post.content %></p>
</div>

<div>
	<h3>Comments</h3>
	<% @post.comments.each do |comment| %>
		<p><%= comment.user.username %> says: <%= comment.content %></p>
	<% end %>
</div>

<div>
  	<h3>Commenters</h3>
  	<ul>
    	<% @post.users.uniq.each do |user| %>
     	 <li><%= link_to user.username, user_path(user) %> </li>
    	<% end %>
  	</ul>
</div>

<div>
  	<h3>Add Comment</h3>
  	<%= form_for @post.comments.build do |f| %>

    	<%= f.hidden_field :post_id %>

    	<%= f.label "Comment" %>
    	<%= f.text_field :content %>

    	<%= f.label "User" %>
    	<%= f.collection_select :user, User.all, :id, :username, { include_blank: true }, { name: 'comment_user_id'} %>

    	<%= f.text_field :user, list: "users_autocomplete", name: 'comment_user_attributes_username' %>
    	<datalist id="users_autocomplete">
      	<% User.all.each do |user| %>
        	<option name="username" value="<%= user.username %>">
      	<% end %>
    	</datalist>

    	<%= f.submit %>
  	<% end %>
</div>