<div class=post-title>
  <%= @post.title %>
</div>
<div class=post-content>
  <%= @post.content %>
</div>
<div class=post-comment>
  <% @post.comments.each do |c| %>
    <p><%= c.user.username%> says: <%= c.content %></p>
  <% end %>
</div>
<div class=post-user>
  <p><strong>Commenters</strong></p>
  <% @post.comments.each do |c| %>
    <p><%= link_to c.user.username, user_path(c.user) %></p>
  <% end %>
</div>

<%= form_for @post.comments.build do |f| %>
  <p><%= f.label "Select Existing User" %>
  <%= f.collection_select(:user_id, User.all, :id, :username, options = {:include_blank}) %></p>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.label "Add a comment" %>
    <%= f.text_field :content %><br>
    <%= f.label "Add a New Username" %>

  <%= f.fields_for :user, @post.comments.last.build_user do |user_builder| %>
    <% user_builder.text_field :username %>
  <% end %>

  <p><%= f.submit %></p>
<% end %>