<h1>Post Show Page </h1>
<%= @post.title %>
  <p>
    <%= @post.content %>
  </p>

<%= form_for Comment.new do |f| %>
  <%= f.label :content%>:
  <%= f.text_field :content%>
  <%= f.submit %>
<% end %>
