<h1><%= @post.title %></h1><br />
<% @post.categories.each do |category| %>
  <%= category.name %>
<% end %>

<p><%= @post.content %></p><br />

<% @post.comments.each do |comment| %>
  <% if comment.user %>
  <%= comment.user.username %> says: <%= comment.content %>
  <% end %>
<% end %>
<br></br>

<p>Post a Comment:</p>

<%= form_for @post.comments.build do |comments_fields| %>
<%= comments_fields.label :user %><br>
<%= comments_fields.collection_select :user_id, User.all, :id, :username, {:include_blank => true} %><br>
<p>Create a New User:</p>
<%= comments_fields.fields_for :user, @post.comments.last.build_user do |user_fields| %>
<%= user_fields.text_field :username %><br>
<% end %>
<%= comments_fields.label :content %><br>
<%= comments_fields.text_area :content %><br>
<%= comments_fields.hidden_field :post_id %>
<%= comments_fields.submit %>
<% end %>


<% @post.users.uniq.each do |user| %>
  <ul>
    <li><%= link_to user.username, user_path(user) %></li>
  </ul>
<% end %>
