<!--The title and content of the post.-->
<h1> <%= @post.title %> </h1>
<p> <%= @post.content %> </p>
<Categories: <br />
<ul>
<% @post.categories.each do |c| %>
<li><%= c.name %>
<% end %>
</ul>

<%= form_for @post.comments.build do |c| %>
<p>
  <%= c.label "comment_content" %>
  <%= c.text_area :content %>
</p>
<%= c.collection_select(:user_id, User.all, :id, :username, prompt: true) %>
<%= c.hidden_field(:post_id) %>
<p>
  <%= c.submit %>
</p>
<% end %>

<!--can create a post with a brand new category-->

<!--can create a post with a brand new category and an existing category-->


<!--should display all of the comments for that post
Failure/Error: expect(page).to have_content(@comment1.content)
  expected to find text "This was great!" in "So Awesome Man am I a great blogger OR WHAT! Cool Comment content Please select RealBigFish"
# ./spec/features/posts_spec.rb:61:in `block (3 levels) in <top (required)-->
<Comments: <br />
<% @post.comments.all%>
<!--%@post.comments=%-->
<!--%= @post.comment_ids%>[10, 11]-->
<!--%= @post.comments%> #<Comment::ActiveRecord_Associations_CollectionProxy:0x007fd048b52be0-->

</p>

<!--should display a list of unique users who have commented on the post
Failure/Error: expect(page).to have_link(@user.username, href: user_path(@user), count: 1)
  expected to find link "RealBigFish" with href "/users/1" 1 time but there were no matches
# ./spec/features/posts_spec.rb:67:in `block (3 levels) in <top (required)>'

A user's name should only show up once in this section,
even if they've commented multiple times. <% @post.user_ids %>-->

<!--A form to add a new comment.
The form should have a drop-down menu to select a user
(we'll change this in future lessons to automatically associate the comment with a logged-in user).
We should also be able to create a new user here
and automatically associate it with the post.-->
<% link_to @post.title, comment_path(@post.title) %>
