<%=@post.title%><br>
<%=@post.content%><br>
<ul>
  <%=@post.categories.each do |category|%>
    <li><%=category.name%></li>
  <%end%>
</ul>

<ul>
  <%=@post.comments.each do |comment|%>
    <%=comment.content%>
  <%end%>
</ul>
