<h2> <%= @post.title %> </h2>
<h2> <%= @post.content %> </h2>

<% @post.comments.each do |comment| %>
  <%= "#{comment.user.username} says: #{comment.content}" %>
<% end %>

<% @post.categories.each do |category| %>
  <%= "#{category.name}" %>
<% end %>

<% @unique_commenters.each do |commenter| %>
  <%= link_to commenter.username, user_path(commenter) %>
  <% end %>

  <%= form_for [@post.comments.build] do |f| %>
    <%= f.label "Comment" %>
    <%= f.text_field :content %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.collection_select :user_id, User.all, :id, :username %>
    <%= f.fields_for :user_attributes, @post.users.build do |user| %>
      <%= user.text_field :username %>
    <% end %>
    <%= f.submit %>
  <% end %>
