 <h1><%=@post.title%></h1>

  <p><%=@post.content%></p>

   <%=@post.comments.each do |x|%>
       <h3><%=x.username%></h3>
          <ul>
            <%x.comments.each do |comment|%>
            <li><%=comment.content%></li>
            <%end%>
         </ul>
   <%end%>

   <%=form_for @post do |f|%>
    <%=fields_for :comment do |f|%>
       <%=f.label :content%>
       <%= f.text_area :content%>
       <%= f.collection_select :user_id,  User.all, :id, :username %>
       <% end %>
     <%=f.submit "Create Comment"%>
   <%end%>
