<!--The title and content of the post.-->
<h1> <%= @post.title %> </h1>
<p> <%= @post.content %> </p>
<Categories: <br />
<ul>
  <% @post.categories.each do |c| %>
    <li><%= c.name %></li>
  <% end %>
</ul>

<ul>
  <% @post.comments.each do |comment| %>
    <li><%= comment.user.username %> says: <%=comment.content %></li>
  <% end %>
</ul>


<!--creates a comment with an existing user-->
<%= form_for @post.comments.build do |c| %>

  <%= c.label "comment_content" %>
  <%= c.text_area :content %>

<%= c.collection_select(:user_id, User.all, :id, :username, include_blank: true) %>
<%= c.fields_for :user, @post.comments.last.build_user do |u| %>
  <%= u.text_field :username %>
<% end %>
<%= c.hidden_field(:post_id) %>


  <%= c.submit %>

<% end %>
