<h1><%= @post.title %></h1>
<h2>Categories</h2>
<ul>
  <% @post.categories.each do |c| %>
    <li><%= c.name %></li>
  <% end %>
</ul>
<p><%= @post.content %></p>
<h2><%= pluralize(@post.comments_count, 'Comment') %></h2>
<% @post.comments.each do |c| %>
  <%= c.username %> says: <%= c.content %><br/>
<% end %>
<h2><%= pluralize(@post.unique_users_count, 'User') %> Commented</h2>
<% @post.unique_users.each do |u| %>
  <%= link_to u.username, user_path(u) %><br/>
<% end %>
<h2>New Comment?</h2>
<%= form_for @post do |f| %>
  <%= f.fields_for :comments, Comment.new do |comments_fields| %>
<!--    <%= comments_fields.collection_select :user_id, User.select_all, :id, :username %><br/> -->
    <select name="post[comments_attributes][0][user_id]" id="comment_user_id">
      <% User.select_all.each do |u| %>
        <option value=<%=u.id%>><%=u.username%></option>
      <% end %>
    </select>
    New User:
    <! --<%= comments_fields.text_field :username %>-->
    <input type="text" name="post[comments_attributes][0][username]" id="comment_user_attributes_username">
    <input type="text" name="post[comments_attributes][0][content]" id="comment_content">
  <% end %>
  <%= f.submit "Create Comment" %>
<% end %>
