<h1><%= @post.title %></h1>
<h3><%= @post.content %></h3>
<h5><%@post.categories.each do |category|%>
    <%= category.name %>,
<%end%></h5>
<%comment_users = []%>
<%@post.users.each do |user|%>
  <%if !comment_users.include?(user)%>
    <p><%= link_to user.username, user_path(user) %> says: </p>
    <%user.comments.each do |comment|%>
      <%=comment.content%>
    <%end%>
    <% comment_users << user %>
  <%end%>
<%end%>
<%comment_users = []%>
<%= form_for @comment do |f| %>
  <%= f.hidden_field  :post_id, :value => @post.id %>
  <%= f.text_field :content %>
  <%= f.collection_select :user_id, User.all, :id, :username %>
  <%= f.fields_for :user do |attributes| %>
    <%= attributes.text_field :username %>
  <% end %>
  <%= f.submit %>
<%end%>
