<h1><%= @post.title %></h1>
<p><%= @post.content %></p></br>
<h3> Categories </h3>
<ul>
<% @post.categories.each do |category| %>
  <li><%= category.name %></li>
<% end %>
</ul>

<h3>Comments</h3>

  <% @post.comments.each do |comment| %>
   <%= comment.user.username %> says: <%= comment.content %>
  <% end %>

<%= form_for @post.comments.build do |f| %>
  <%= f.hidden_field :post_id %>
  <%= f.label "Content:" %></br>
  <%= f.text_field :content %></br>
  <%= f.label "Select a User" %></br>
  <%= f.collection_select :user_id, User.all, :id, :username %></br></br>
  <%= f.label "Create a User" %>
  <%= f.fields_for :user_attributes, @post.comments.last.build_user do |user_fields| %>
    <%= user_fields.text_field :username %></br></br>
  <% end %>
  <%= f.submit "Create Comment" %>
<% end %>

<h1> Users that have commented </h1>
<ul>

<% @post.users.uniq.each do |user| %>
  <%= link_to user.username, user_path(user) %>
<% end %>
