<h1><%= @post.title %></h1><br>
<h3>Categories</h3><br>
<% @post.categories.each do |category| %>
  <h3><%= category.name%></h3><br>
<% end %>
<p><%= @post.content %></p><br>
<% @post.comments.each do |comment| %>
  <h3><%= comment.username%> says: <%= comment.content%></h3><br>
<% end %>
<h3>Commenting Users:</h3>
<ul>
<% @post.users.uniq.each do |u| %>
  <li><%= link_to u.username, user_path(u) %></li>
<% end %>
</ul>

<%= form_for(@comment) do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content%><br>
  <%= f.label :user%>
  <%= f.collection_select :user_id, User.all, :id, :username,include_blank: true%><br>

  <%= f.fields_for :user do |ff| %>
    <%= ff.label :username%>
    <%= ff.text_field :username%><br>
  <% end %>

  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.submit %>
<% end %>
