
<h1><%=@post.title%></h1>
<h1><%=@post.content%></h1>
  <label> Post Comments </label>
    <ul>
      <%@post.comments.each do |comment|%>
    
        <li><%= comment.user.username %> says: <%= comment.content %></li>
      <%end%>
    </ul>


  <%=form_for @post.comments.build do |c| %>
  <%=c.label :content %><br>
  <%=c.text_field :content %><br>
  <%=c.collection_select :user_id, User.all, :id, :username %>
  <%= c.hidden_field :post_id %>
  <%=c.fields_for :user, @post.comments.build.build_user do |u| %>
  <%=u.text_field :username %>
  <%=u.text_field :email %>
    <%end%>
  <%=c.submit%>
  <%end%>
