<h1><%= @post.title %></h1>
<p>
  <%= @post.content %>
</p>
<p>
  <% @post.categories.each do |category| %>
    <%= category.name %><br>
  <% end %>
</p>

<% @post.users.uniq.each do |user| %>
  <%= link_to user.username, user_path(user) %> says:
  <% user.comments.each do |comment| %>
    <%= comment.content %>
  <% end %> 
<% end %>

<br>

Add a Comment:
<%= form_for @post.comments.build do |f| %>
  <%= f.hidden_field :post_id %>
  <%= f.label "content" %>
  <%= f.text_field :content %>
  <%= f.collection_select :user_id, User.all, :id, :username %>
  <%= f.fields_for :user, @post.users.build do |user| %>
    <%= user.text_field :username %>
  <% end %>


<%= f.label "Create Comment" %>
<%= f.submit %>
<% end %>
