<h1><%= @post.title %></h1>
<h3><%= @post.category_names %></h3>
<p><%= @post.content %></p>
<br>
<h3>Commentors</h3>
<ul>
    <% @post.commentors.uniq.each do |commentor| %>
    <li><%= link_to commentor.username, user_path(commentor) %></li>
    <% end %>
</ul>

<h2>Comments</h2>
<ul>
<% @post.comments.each do |comment| %>
<li><%= comment.username %> says: <%= comment.content %></li>
<% end %>
</ul>

<h3>Add Comment</h3>
<%= form_for @comment do |f| %>
   <%= f.label :content, "Your Comment"%>
   <%= f.text_field :content %>
   
   <%= f.collection_select :user_id, User.all, :id, :username, {include_blank: true} %>
   
   <%= f.fields_for :user_attributes, @comment.build_user do |username_field|  %>
   <%= username_field.text_field :username %>
   <% end %>
    <%= hidden_field_tag 'comment[post_id]', @post.id %>
   <%= f.submit %>
<% end %>


    