<!-- # app/views/posts/show.html.erb -->

<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<h3>Category:</h3>
<ul>
  <% @post.categories.each do |category| %>
    <li>
      <%= link_to category.name, category_path(category) %>
    </li>
  <% end %>
</ul>

<h3>Users who commented:</h3>
<ul>
  <% @post.users.uniq.each do |user| %>
    <li>
      <%= link_to user.username, user_path(user) %>
    </li>
  <% end %>
</ul>

<h3>Existing comments:</h3>
<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <%= comment.user.username %> says:
      <%= comment.content %>
    </li>
  <% end %>
</ul>

<%= render 'add_comment_form' %>
