<h1><%= @post.title %></h1>
<h2><%= @post.content %></h2>

<div class="post_categories">
  Categories:
  <ul>
    <% @post.categories.each do |cat| %>
        <li><p><%= cat.name %></p></li>
    <% end %>
  </ul>
</div>


<div class="post_comments">
  Comments:
  <ul>
    <% @post.comments.each do |comment| %>
        <li><%= comment.content %></li>
    <% end %>
  </ul>
</div>

<div class="post_users">
  Users:
  <ul>
    <% @post.users.uniq.each do |user| %>
        <li><%= link_to user.username, user_path(user) %></li>
    <% end %>
  </ul>
</div>

<div class="form_for_comment">

  <%= form_for comment.post_build do |t| %>

     <%= t.fields_for :comments, @post.comments.build do |comments_fields| %>
        <%= comments_fields.label "Add a comment to this post as..." %><br>
        <%= comments_fields.collection_select :user_id, User.all, :id, :username  %> <br>
        <%= comments_fields.text_area :content %><br>
        <%= comments_fields.submit %>
     <% end %>
   <% end %>


</div>

<!--
[ ] A form to add a new comment. The form should have a drop-down menu to select a user
    (we'll change this in future lessons to automatically associate the comment with a logged-in user).
    We should also be able to create a new user here and automatically associate it with the post. -->
