<h2><%=@post.title%></h2>

<% @post.categories.each do |c| %>
  <%= c.name%>
<%end%>

<p>
  <%=@post.content%>
</p>

<ul>
  <%@post.users.uniq.each do |u|%>
    <p>
      <%=link_to "#{u.username}", user_path(u)%> says:
      <p>
        <%u.comments.each do |c|%>
          <%=c.content%>
        <%end%>
      </p>
    </p>
  <%end%>
</ul>

<%=form_for @comment do |f|%>

  <%=f.label :content%>
  <%=f.text_field :content%>
  <%=f.collection_select :user_id, User.all, :id, :username, options = {include_blank: true}%>
  <%= f.fields_for :user, @post.users.build do |user_attributes| %>
    <%= user_attributes.text_field :username %>
  <% end %>

  <%=f.submit%>
<%end%>
