<h1><%=@post.title%></h1>
<p><%=@post.content%></p>

<br>

<h3>Categories:</h3>
<ul>
<%@post.categories.each do |cat|%>
  <li><%=cat.name%></li>
<%end%>
</ul>

<h3>Comments:</h3>
<ul>
  <%@post.comments.each do |comment|%>
  <li><%=User.find(comment.user_id).username%> says: <%=comment.content%></li>
  <%end%>
</ul>

<%=form_for(@comment) do |f|%>
  <p>New Comment: <%=f.text_field :content%></p>
  <input type="hidden" name="comment[post_id]" value="<%=@post.id%>">
  <%=f.select(:user_id, @all_users)%>
  <%=f.fields_for :user do |user|%>
    <p>New Username: <%=user.text_field :username%></p>
  <%end%>
  <%=f.submit%>
<%end%>

<h3>Commenters:</h3>
<ul>
  <%if @users != nil%>
    <%@users.each do |user|%>
    <li><%=link_to(user.username, user_path(user))%></li>
    <%end%>
  <%end%>
</ul>
