
<p><label>Title:</label>
<%= @post.title %>
</p>
<p><label>Content:</label>
<%= @post.content %>
</p>
 <ul>
   <p><label>Comments:</label>
<% @post.comments.each do |comment| %>
  <li><%= comment.user.username %> says: <%= comment.content %>
  </li>
<% end %>
</ul>

<ul>

<%= form_for(@comment) do |f| %>

    <%= f.label :comment %>
    <%= f.text_field :content %>

  <%= f.label :users %>

    <%= f.collection_select :user_id, User.all, :id, :username, {include_blank: ""} %>

    <p><label>Create new User:</label>
    <%= f.fields_for :user, @user do |user_attributes| %>
        <%= user_attributes.text_field :username %>
       <% end %>
     </p>


    <%= f.hidden_field :post_id  %>
    <%= f.submit %>
  <% end %>





  <p><label>Categories:</label>
<% @post.categories.each do |category| %>
 <li><%= category.name %>
 </li>
<% end %>
</ul>


<ul>
<% @post.users.uniq(&:username).each do |user|  %>
 <li><%= link_to user.username, user %></li>
<% end %>
</ul>
