<h3><%= @post.title %></h3>

<p>
  <%= @post.content %>
</p>

<%= 'Category'.pluralize(@post.categories.count) %>
<ul>
  <% @post.categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
</ul>

<%= 'Comment'.pluralize(@post.comments.count) %>
<ol>
  <% @post.comments.each do |comment| %>
    <li><%= comment.user.username %> says: <%= comment.content %></li>
  <% end %>
</ol>

<ul>
  <% @post.users.uniq.each do |user| %>
    <li><%= link_to user.username, user_path(user) %></li>
  <% end %>
</ul>

<%= form_for @post.comments.build do |f| %>
  <%= f.collection_select :user_id, User.all, :id, :username %>
  <%= f.hidden_field :post_id %>
  <%= f.fields_for :user, @post.comments.last.build_user do |user_fields| %>
    <%= user_fields.text_field :username %>
  <% end %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>
