<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

Categories: <br>
<ul>
  <% @post.categories.each do |c| %>
  <li><%= c.name %></li>
  <% end %>
</ul>

Comments: <br>

<ul>
  <% @post.comments.each do |comment| %>
  <li> <%= comment.content %>
     <%= link_to comment.user.username, user_path(comment.user) %>
   </li>

  <% end %>
</ul>

<%= form_for(@comment) do |f| %>

  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.label :user %>
  <%= f.collect_select :user_id, User.all, :id, :username %>

  <%= f.hidden_field :post_id, :value => @post.id %>

  <%= f.submit %>
<% end %>
