<%= @post.title %>

<p><%= @post. content %>

<ul>
    <%= @post.categories.each do |c| %>
        <li><%= c.name %></li>
    <% end %>
</ul>

<ul>
    <% @post.comments.each do |comment| %>
        <li><%= comment.user.username if comment.user %> says: <%= comment.content %></li>
    <% end %>
</ul>

<ul>
    <%= @post.users.uniq.each do |user| %>
        <li><%= link_to user.username, user_path(user) %></li>
    <% end %>
</ul>

<h3>Add A Comment</h3>
<%= form_for @post.comments.build do |f| %>
    <%= f.hidden_field :post_id %>
    <%= f.label :content%>
    <%= f.text_field :content %>   

    <%= f.collection_select :user_id, User.all, :id, :username, include_blank: "New User" %>
    <br>

    <%= f.fields_for :user, @post.comments.last.build_user do |user| %>
        <%= user.text_field :username %>
        <% end %>
  <%= f.submit "Create Comment"%>
<% end %>
