<h1><%= @post.title %></h1>
<h3>Categories</h3>
<ul>
  <%= @post.categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
</ul>
<p>
  <%= @post.content %>
</p>
<div class="old_comments">
  <h5>Commenters</h5>
  <ul>
    <% @post.users.uniq.each do |user| %>
      <li><%= link_to user.username, user_path(user) %></li>
    <% end %>
  </ul>
  <h5>Comments</h5>
  <ul>
    <%= @post.comments.each do |comment| %>
      <li><%= comment.com_username + " says: " + comment.content %></li>
    <% end %>
  </ul>
</div>
<div class="new_comment">
  <%= form_for @comment do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.label :content %>
    <%= f.text_field :content %><br>
    <%= f.collection_select :user_id, User.all, :id, :username %><br>
    <%= f.fields_for :user, @comment.user do |users_fields| %>
      <%= users_fields.text_field :username %>
    <% end %>
    <%= f.submit %>
  <% end %>
</div>
