<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

Categories:<br>
<ul>
  <%= @post.categories.each do |c| %>
  <li><%= c.name %></li><br>
  <% end %>
</ul>

Comments:<br>
<ul>
  <%= @post.comments.each do |c| %>
  <li><%= c.content %></li><br>
  <p><%= link_to c.user.username, user_path(c.user) %></p><br>
  <% end %>
</ul>
