<h1>Post: <%= @post.title %></h1>

<h2>Categories:</h2>
  <% @post.categories.each do |c| %>
    <%= c.name %><br />
  <% end %>

<%= @post.content %><br />


<%= render "comments/new", post: @post %>


<% if !@post.comments.empty? %>
  <% @post.comments.each do |c| %>
    <% if c.user %>
      <%= c.user.username %> says: <%= c.content %><br />
    <% end %>
  <% end %>
<% end %>
