<h2> <%= @post.title %> </h2>

<!-- POST CATEGORIES -->

Categories:
<% @post.categories.each do |category| %>
  <%= category.name %>
<% end %>
<br><br>
<hr>
Content: <%= @post.content %><br>

<!-- USERS WHO'VE COMMENTED -->

<hr>
<h4>Users who have commented:</h4>

<% @post.users.uniq.each do |user| %>
  <%= link_to user.username, user %>
<% end %>

<!-- EXISTING COMMENTS -->

<hr>
<h4>Comments:</h4>
  <% @post.comments.each do |comment| %>
    <p> <%= "#{comment.user.username} says: #{comment.content}" %> </p>
  <% end %>
<hr>

<!-- CREATE AND ADD A NEW COMMENT -->

<%= fields_for :comment do |comment| %>
  <%= comment.label :content %> <br>
  <%= comment.text_area :content %>
  <br><br>

<!-- CHOOSE EXISTING USERNAME -->

  <%= comment.label :user_username %>
  <br>
  <%= comment.text_field :user_id, list: 'user_id' %>
  <br>
  <datalist id="user_id">
    <% User.all.each do |user| %>
      <option value="<%= user.username %>"></option>
    <% end %>
  </datalist><br>

  <!-- CREATE NEW USER/USERNAME -->

  <%= comment.label :new_user %><br>
  <%= comment.text_field :user_attributes_username %>
  <br><br>
  <%= comment.submit "Create Comment" %>
<% end %>
