<h2><%= @post.title %></h2>

<p><%= @post.content %></p>

<div>
  <h3> Comments </h3>
  <% @post.uniq_commenters.each_with_index do |commenter, index| %>
    <%= link_to commenter.username, commenter  %>
    <%= ", " if index <= @post.uniq_commenters.size - 3 %>
    <%= " and " if index == @post.uniq_commenters.size - 2 %>
    <%= " commented on this post." if index == @post.uniq_commenters.size - 1 %>
  <% end %>
  <ul>
    <% @post.comments.each do |comment| %>
      <b><%=link_to comment.user_name, comment.user %>:</b> <br>
      <%= comment.content %> <br><br>
    <% end %>
  </ul>

</div>
