<h2><%= @post.title %></h2>
<h2><%= @post.content %></h2>

<% @post.categories.each do |category| %>
  <h3><%= category.name %>
<% end %>

<% @post.comments.each do |comment| %>
  <h3><%= comment.user.username %> says: <%= comment.content %><h3>
<% end %>

<% @post.users.uniq.each do |user| %>
  <%= link_to user.username, user_path(user) %>
<% end %>

<%= form_for @comment do |f| %>
  <%= f.hidden_field :post_id, :value => @post.id %>
  <%= f.label "Content" %>
  <%= f.text_area :content %><br>
  <%= f.label "Select User" %>
  <%= f.collection_select :user_id, User.all, :id, :username, {include_blank: true} %><br>
  <%= f.label "New User" %>
  <%= f.fields_for :users, @post.users.build do |user_fields| %>
    <%= user_fields.text_field :username %><br>
  <% end %>
  <%= f.submit %>
<% end %>
