<h1><%= @post.title %></h1>

<h2><%= @post.content %></h2>

Categories
<ul>
<% @post.categories.each do |category| %>
  <li><%= category.name %></li>
<% end %>
</ul>

Comments
<ul>
<% @post.comments.each do |comment| %>
  <li><%= comment.content %></li>
<% end %>
</ul>

Users
<ul>
<% @post.users.uniq.each do |user| %>
  <li><%= link_to user.username, user_path(user) %></li>
<% end %>
</ul>
