<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<p>Category</p>
  <% @post.categories.each do |c| %>
    <p><%= c.name %></p>
  <% end %>


<% @post.comments.each do |comment| %>
  <p><%= comment.user.username %> says: <%= comment.content %></p>
<% end %>

<% @post.users.uniq.each do |u| %>
  <p><%= link_to u.username, user_path(u) %></p>
<% end %>




<%= form_for @post.comments.build do |f| %>

  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.hidden_field :post_id %>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: "User" %>

  <%= f.fields_for :user, @post.users.build do |user_fields|%>

    <%= user_fields.label :username %>
    <%= user_fields.text_field :username %>

  <% end %>

  <%= f.submit %>

<% end %>
