<h1><%= @post.title %></h1>
<br />
<h3><% @post.categories.each do |category| %>
    <%= category.name %>
    <% end %>
    <br />
<%= @post.content %></h3>

<p>Add a Comment:</p>
<br />
<%= form_for @post do |f| %>
  <%= fields_for :comments, @post.comments.build do |f| %>
  <%= f.text_field :content %>
  <% end %>

  <%= f.collection_select :users, User.all, :id, :username %>

  <%= f.submit %>
<% end %>
<br />


<p>Comments for this Post:</p>
<br />
<!-- Display user comments on this post with link to their user page. Doesn't show a user more than once -->
<% @post.users.uniq.each do |user| %>
  <ul>
    <li><%= link_to user.username, user_path(user) %> wrote:</li>
      <% user.comments.each do |comment| %>
        <% if comment.post_id == @post.id %>
        <li><%= comment.content %></li>
        <% end %>
      <% end %>
  </ul>
<% end %>
