<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<h2>Categories:</h2>
<% @post.categories.each do |category| %>
    <p><%= category.name %></p>
<% end %>

<h2>Create a new comment:</h2>
<%= form_for :@comment do |comment_builder| %>
    <%= comment_builder.number_field :post_id, value: @post.id, hidden: true %>

    <%= comment_builder.label :content %>
    <%= comment_builder.text_field :content, required: true %><br>

    <%= comment_builder.label :commenting_user %>
    <%= comment_builder.collection_select :user_id, User.all, :id, :username, {include_blank: 'Create New User'} %><br>

    <%= comment_builder.fields_for :user, @comment.build_user do |user_fields| %>
        <%= user_fields.text_field :username %>
    <% end %><br><br>

    <%= comment_builder.submit %>
<% end %>

<h2>Comments:</h2>
<% @post.comments.each do |comment| %>
    <p><% if comment.user %><%= comment.user.username %> says: <%= comment.content %><% end %></p>
<% end %>

<h2>Users on this page:</h2>
<% @post.users.uniq.each do |user| %>
    <p><%= link_to user.username, user_path(user) %></p>
<% end %>