<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

<ul>
<% @post.categories.each do |cat| %>
  <li><%= cat.name %></li>
<% end %>
</ul>

<% @post.comments.each do |com| %>
  <%= com.user.username %> says: <%= com.content %>
<% end %>

<%= @post.users.uniq.each do |u| %>
  <%= link_to u.username, user_path(u) %>
<% end %>

<%= form_for(@comment) do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  
  <%= f.collection_select :user_id, User.all, :id, :username, :include_blank => true %>
  
  new user:
  <%= f.fields_for :user_attributes do |u| %>
    <%= u.text_field :username %>
  <% end %>
  <br>
  <br>
  <%= f.submit %>
<% end %>