<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<ul>
  <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>

<ul>
  <% @post.comments.each do |comment| %>
    <% if comment.user %><%= comment.user.username %> says: <%= comment.content %>
  <% end %>
 <% end %>
</ul>

<ul>
  <% @post.users.uniq.each do |user| %>
    <li><%= link_to user.username, user %></li>
  <% end %>
</ul>

<%= form_for @post.comments.build do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.collection_select :user_id, User.all, :id, :username %>
  <%= f.fields_for :user, @post.users.build do |users_fields| %>
    <%= users_fields.text_field :username %>
  <% end %>
  <%= f.submit %>
<% end %>
