Title: <%= @post.title %>
Content: <%= @post.content %>

<h2>Comments</h2>

<% @post.comments.each do |comment| %>
  <%= comment.content %>
<% end %>

<%= form_for(@comment) do |f| %>
  <%= f.text_field :content %>
  <%= f.collection_select :user_ids, User.all, :id, :username %>
  <%= f.submit %>
<% end %>

<h2> Users </h2>

<% @post.users.each do |user| %>
  <%= user.username %>
<% end %>
