<h2><%= @post.title %></h2>
<p><%= @post.content %></p>
Comments:
  <% @post.comments.each do |comment| %>
    <%= comment.user.name %> says 
    <%= comment.content %>
  <% end %>

Users:
  <ul><% @post.users.each do |user| %>
    <%= user.name %> 
  <% end %></ul>

  <%= form_for @comment do |f| %>
    <%= f.label "Comment Content" %>
    <%= f.text_area :content %>
    <%= f.collection_select :user_id, User.all, :id, :username %>
#    <%= f.fields_for :users, @comment.user.build do |user_fields| %>
#      <%= user_fields.text_field :username %>
    <% end %>
    <%= f.submit %>
<% end %>