

<div class=post-content>

  Title: <%= @post.title %><br>
  Content: <%= @post.content %><br>
  Categories:<% @post.categories.each do |category| %>
              <%= category.name %>
            <% end %>
  Comments: <% @post.comments.each do |comment| %>
    <%= comment.content %>
  <% end %><br>
</div>
<%= form_for(@post.comments.build) do |f| %>
<!-- form for a comment, not a post -->
  To add a comment pick a username from the list or add a new user.
  <%= f.collection_select :user_id, User.all, :id, :username %><br><br>

    <%= f.fields_for :user, @post.users.build do |user_field| %>
      <%= user_field.text_field :username %>
    <% end %>
    Your comment:

    <%= f.text_field :content %><br><br>
    <%= f.hidden_field :post_id, value: @post.id %>
  
  <%= f.submit %>
<% end %>
