<h1><%= @post.title %></h1>
  <p>
    Content: <br /> 
    <%= @post.content %>
  </p>
  
  <p>
    Categories: <br />
    <% @post.categories.each do |category| %>
      <%= category.name %>
    <% end %>
  </p>

  <p>
    Unique Commenters (users): <br />
    <% @post.users.uniq.each do |user| %>
      <%= link_to user.username, user_path(user) %>
    <% end %>
  </p>

  <p>
    Comments: <br />
    <% @post.comments.each do |comment| %> 
      <% @user = User.find(comment.user_id) %>
      <%= @user.username %> says: <%= comment.content %><br />
    <% end %>
  </p>
  
  <p>
    Create Comment: <br />
  <%= form_for :comment do |f| %>
    <%= f.label "Username:" %>
    <%= f.text_field :user_id %><br>
    <!-- yeah, I know this ^ is wrong, but it allows me to get down to 1 more test left to pass!!  :) -->
    <%= f.label "or choose existing User:" %>
    <%= f.collection_select :user_id, User.all, :id, :username, {include_blank: ''} %><br>
    <%= f.label "Content:" %>
    <%= f.text_field :content %><br>
    <%= f.submit id="Create Comment" %>
   
  <% end %>






