<h2><%= @post.title %></h2>
  <h3><%= @post.content %></h3>
  Comments:

  <% @post.comments do |comment| %>
  <%= comment.content %>
  by:
  <%= comment.user.username %>
  <%end%>

  <%= form_for @post do |f| %>
  New Comment:
      <%= f.fields_for :comments do |comments_form| %>
          <%= comments_form.text_area :content %>
      <% end %>
    <%=f.submit%>
<% end %>
