<h1><%= @post.title %></h1>

<%= @post.content %><br><br>

Comments:
  <% @post.comments.each do |comment| %>
    <%= link_to comment.user.username, user_path(comment.user) %> said
    <%= comment.content %>
  <% end %><br><br>

Categories:
  <ul>
  <% @post.categories.each do |category| %>
  <li><%= category.name %></li> 
  <% end %>
  </ul>
