<h1><%= @post.title %></h1>
<p>
  <%= @post.content %>
</p>

<h3>Categories:</h3>
<p><ul>
<% @post.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul></p>

<h3>Comments:</h3>
<p><ul>
<% @post.comments.each do |comment| %>
    <li><%= comment.content %></li>
  <% end %>
</ul></p>

<h3>Users who have commented:</h3>
<p><ul><% unique_users = @post.comments.each do |comment| %>
    <li><% link_to comment.user.username, comment.user %></li>
  <% end %>
  <li><%= unique_users.uniq %></li>
</ul>
</p>

<h3>New comment:</h3>
<%= form_for @post do |f| %>
  <%= f.fields_for :comments, @post.comments.build do |comment_fields| %>
  <%= comment_fields.text_area :content %>
  <%= comment_fields.collection_check_boxes :user_id, User.all, :id, :username, include_blank: true %>
  <% end %>
  <%= f.submit %>
<% end %>
