<h1><%= @post.title %></h1>
<p>Content: <%= @post.content %></p>
<p>Category:
  <ul>
  <%@post.categories.each do |cat| %>
    <li><%=cat.name%>
  <% end %>
  </ul>
</p>

Comments: <br>
  <ul>
    <% @post.comments.each do |comment| %>
    <li><%= comment.content %>
      <%# <%= link_to comment.user.username, user_path(comment.user) %> %>
    <% end %>
  </ul>

<input type=text_field id="comment_content" name="comment_content"/>
Users:
<%= collection_select(:post, :user_ids, User.all, :id, :username)%>
 <br>
<ul>
  <% @post.users.uniq.each do |user| %>
  <li><%= link_to user.username, user_path(user) %>
  <% end %>
</ul>
