<h1><%= @post.title %></h1>
 <p><%= @post.content %></p>

 <h4>Categories:</h4>
 <div>
   <% @post.categories.each do |category| %>
     <p><%= category.name %></p>
   <% end %>
 </div>

 <h4>Comments</h4>
 <div>
   <% @post.comments.each do |comment| %>
     <p><%= "#{comment.user.username} says: #{comment.content}" if comment.user %></p>
   <% end %>
 </div>

 <h4>Commenters</h4>
 <div>
    <h3>Unique Commenters:</h3>
     <ul>
       <% @post.users.uniq.each do |user| %>
        <li><%= link_to user.username, user_path(user) %></li>
        <% end %>
     </ul>
 </div><br><br>


 <%= form_for @comment do |f| %>

   <%= f.hidden_field :post_id, value: @post.id %>
   Write Comment: <br>
   <p><%= f.text_area :content %></p>
   select username<br>
   <%= f.collection_select :user_id, User.all, :id, :username, include_blank: "new user" %><br><br>

   <%= f.fields_for :user, @comment.build_user do |user|  %>

     <%= user.label :username, "create username" %><br>
     <%= user.text_field :username %><br>
     <br>

   <% end %>

   <%= f.submit %>
 <% end %>
