<h1><%= @post.title %></h1>
<p>
  <%= @post.content %>
</p>

<h4>Comments:</h4>
<p>
  <% @post.comments.each do |comment| %>
    <div class="">
      <%= comment.content %>
    </div>
  <% end %>
</p>

<h4>Users who've commented:</h4>
<ul>
  <% @post.unique_commented_user_list do |user| %>
    <li>user.name</li>
  <% end %>
</ul>

<h4>New Comment:</h4>
<%= form_for @post do |f| %>
  <%= f.fields_for :comments, @post.comments.build do |c| %>
  <%= c.label :comments %><br />
  <%= c.text_field :content %>
  <% end %>
  <%= f.submit %>
<% end %>
