<h1><%= @category.name %></h1>

<ul><%=@category.posts.each do |x| %>
  <%= link_to x.title, post_path(x) %><br>
  <%= x.content %><br>
  <%= form_for :comment do |f| %> 
  <%= f.label :content %>
  <%= f.text_field :content %><br>

  

  <%= f.submit "Create Comment" %>

  <%end %>

</ul>

<%end%>